# Importing python packages

In [1]:
import pandas as pd

# Importing the data sets
## Births registration

First we need to import the dataset. As the dataset is in CSV format the easiest way is to use 'read_csv' pandas function for this file format.

Birth registration data (2022) Birth registration data - UNICEF DATA data.unicef.org. UNICEF. Available at: https://data.unicef.org/resources/dataset/percentage-children-age-5-whose-births-registered-sex-place-residence-household-wealth-quintile/ (Accessed: December 30, 2022).

NOTE: File name for originally generated CSV file had to be renamed as Git was throwing the ‘Filename too long’ error when tried to add it to repository.

In [2]:
CB_percent = pd.read_csv('Percent of children_UNICEF_1.0_all.csv',low_memory=False)

### Exploring the data set

In [13]:
CB_percent.shape

(1648747, 22)

In [15]:
CB_percent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648747 entries, 0 to 1648746
Data columns (total 22 columns):
 #   Column                                                                          Non-Null Count    Dtype
---  ------                                                                          --------------    -----
 0   DATAFLOW                                                                        1648747 non-null  object
 1   REF_AREA:Geographic area                                                        1648747 non-null  object
 2   INDICATOR:Indicator                                                             1648747 non-null  object
 3   SEX:Sex                                                                         1648747 non-null  object
 4   TIME_PERIOD:Time period                                                         1648747 non-null  object
 5   OBS_VALUE:Observation Value                                                     1648747 non-null  object
 6   UNIT_MULTIPLIER:Unit multiplier                                                 1003259 non-null  object
 7   UNIT_MEASURE:Unit of measure                                                    1648747 non-null  object
 8   OBS_STATUS:Observation Status                                                   791506 non-null   object
 9   OBS_CONF:Observation confidentaility                                            419096 non-null   object
 10  LOWER_BOUND:Lower Bound                                                         688906 non-null   object
 11  UPPER_BOUND:Upper Bound                                                         689206 non-null   object
 12  WGTD_SAMPL_SIZE:Weighted Sample Size                                            119802 non-null   float64
 13  OBS_FOOTNOTE:Observation footnote                                               87836 non-null    object
 14  SERIES_FOOTNOTE:Series footnote                                                 928206 non-null   object
 15  DATA_SOURCE:Data Source                                                         1647912 non-null  object
 16  SOURCE_LINK:Citation of or link to the data source                              943990 non-null   object
 17  CUSTODIAN:Custodian                                                             212669 non-null   object
 18  TIME_PERIOD_METHOD:Time period activity related to when the data are collected  246416 non-null   object
 19  REF_PERIOD:Reference Period                                                     657 non-null      object
 20  COVERAGE_TIME:The period of time for which data are provided                    336666 non-null   object
 21  AGE:Current age                                                                 1648747 non-null  object
dtypes: float64(1), object(21)
memory usage: 276.7+ MB

We can see that there are a lot of null data values, however no columns are totally empty, hence need to analyse to detemine what can be discarded.

#### Analysis what columns can be discarded from the original data set

In [ ]:
CB_percent.groupby('DATAFLOW').nunique()

In [ ]:
CB_percent.groupby('REF_AREA:Geographic area').nunique()

In [ ]:
CB_percent.groupby('INDICATOR:Indicator').nunique()

In [ ]:
CB_percent.groupby('SEX:Sex').nunique()

In [ ]:
CB_percent.groupby('TIME_PERIOD:Time period').nunique()

In [ ]:
CB_percent.groupby('UNIT_MULTIPLIER:Unit multiplier').nunique()

In [ ]:
CB_percent.groupby('OBS_STATUS:Observation Status').nunique()

In [ ]:
CB_percent.groupby('OBS_CONF:Observation confidentaility').nunique()

In [ ]:
CB_percent.groupby('LOWER_BOUND:Lower Bound').nunique()

In [ ]:
CB_percent.groupby('UPPER_BOUND:Upper Bound').nunique()

In [ ]:
CB_percent.groupby('WGTD_SAMPL_SIZE:Weighted Sample Size').nunique()

In [ ]:
CB_percent.groupby('OBS_FOOTNOTE:Observation footnote').nunique()

In [ ]:
CB_percent.groupby('SERIES_FOOTNOTE:Series footnote').nunique()

In [ ]:
CB_percent.groupby('DATA_SOURCE:Data Source').nunique()

In [ ]:
CB_percent.groupby('SOURCE_LINK:Citation of or link to the data source').nunique()

In [ ]:
CB_percent.groupby('CUSTODIAN:Custodian').nunique()

In [ ]:
CB_percent.groupby('TIME_PERIOD_METHOD:Time period activity related to when the data are collected').nunique()

In [ ]:
CB_percent.groupby('REF_PERIOD:Reference Period').nunique()

In [ ]:
CB_percent.groupby('COVERAGE_TIME:The period of time for which data are provided').nunique()

In [ ]:
CB_percent.groupby('AGE:Current age').nunique()

- `DATAFLOW` column has only one value, which has no added value for our project, hence can be dropped from the original data set.
- `REF_AREA:Geographic area` column contains 330 differenc geographical areas (ie. countries) which is one of the main coulumns we expected to find.
- `INDICATOR:Indicator` column lists different indicators collected data represents 
- `SEX:Sex` column indicate if the figures collected reffer to *F: Female*, *M: Male* or *_T: Total*. Something I'm not focusing to look into at this moment, hence decision to look at only *_T: Total* values.
- `TIME_PERIOD:Time period` column indicates year the data is reported for, but it was noticed that some fields don't only contain just a year, but also a specific dates. This needs further analysis and filtering.
- `UNIT_MULTIPLIER:Unit multiplier`column indicates if data represents *0: Units* or *3: Thousands*.
- `OBS_STATUS:Observation Status` column has 8 unique values describing how the values were obtained. I have decided to discard all rows that are not having *A: Normal value* or *RP: Reported* values.
- `OBS_CONF:Observation confidentaility`column indicates if data is *F: Free* or *N: Not for publication, restricted for internal use only*.
- `LOWER_BOUND:Lower Bound` contains 289582 different values. 
- `UPPER_BOUND:Upper Bound` contains 297085 different values.
- `WGTD_SAMPL_SIZE:Weighted Sample Size` contains 16445 different values.
- `OBS_FOOTNOTE:Observation footnote` contains 1037 different notes about the data points.
- `SERIES_FOOTNOTE:Series footnote`  contains 21 different values and provides some additional note about the data points
- `DATA_SOURCE:Data Source` contains 5007 different references on where is data coming from and it looks it's mainly written in the local language.
- `SOURCE_LINK:Citation of or link to the data source` column name is self explanatory and contas 51 unique values
- `CUSTODIAN:Custodian` column contains information about 7 different data custodians.
- `TIME_PERIOD_METHOD:Time period activity related to when the data are collected` column has 3 unique values *EOF: End of fieldwork*,  *MOF: Middle of fieldwork* and *OTHER: Other* which doesn't seem too interesting hence will drop from the final data set. 
- `REF_PERIOD:Reference Period` column contains two unique values *2000-2019* and *2000-2020*
- `COVERAGE_TIME:The period of time for which data are provided` column contains 377 unique values for the time period data points are provided.
- `AGE:Current age` column indicates the age range of population counted and contains 29 unique values.

In [ ]:
CB_percent_opt = CB_percent["REF_AREA:Geographic area","INDICATOR:Indicator","??? - TIME_PERIOD:Time period",""]

In [ ]:
CB_percent.head(5)

#### Further analysis and filtering out non-needed column data

Currently, we are only interested in the % of childbirths registered, and can notice that for `AFG: Afganistan` there are values for Life expectancy in the data set. Also `DATAFLOW` column appear to offer not much value for us. Let's explore the values in those (and other) columns.

In [7]:
CB_percent['DATAFLOW'].values

array(['UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators',
       'UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators',
       'UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators', ...,
       'UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators',
       'UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators',
       'UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators'],
      dtype=object)

The value `UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators` seems to be repeating within the `DATAFLOW` column. Let's check if there are any other values contained.

In [8]:
Examine = CB_percent[~CB_percent["DATAFLOW"].isin(["UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators"])]
Examine

Empty DataFrame
Columns: [DATAFLOW, REF_AREA:Geographic area, INDICATOR:Indicator, SEX:Sex, TIME_PERIOD:Time period, OBS_VALUE:Observation Value, UNIT_MULTIPLIER:Unit multiplier, UNIT_MEASURE:Unit of measure, OBS_STATUS:Observation Status, OBS_CONF:Observation confidentaility, OBS_FOOTNOTE:Observation footnote, SERIES_FOOTNOTE:Series footnote, DATA_SOURCE:Data Source, SOURCE_LINK:Citation of or link to the data source, TIME_PERIOD_METHOD:Time period activity related to when the data are collected, COVERAGE_TIME:The period of time for which data are provided, AGE:Current age]
Index: []

No, the value `UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators` is the only one within the `DATAFLOW` column, hence we should drop it from the `Filtered_CB_percent` dataset we are planning to create later on.

In [9]:
Examine = CB_percent[~CB_percent["SEX:Sex"].isin(["_T: Total"])]
Examine

Empty DataFrame
Columns: [DATAFLOW, REF_AREA:Geographic area, INDICATOR:Indicator, SEX:Sex, TIME_PERIOD:Time period, OBS_VALUE:Observation Value, UNIT_MULTIPLIER:Unit multiplier, UNIT_MEASURE:Unit of measure, OBS_STATUS:Observation Status, OBS_CONF:Observation confidentaility, OBS_FOOTNOTE:Observation footnote, SERIES_FOOTNOTE:Series footnote, DATA_SOURCE:Data Source, SOURCE_LINK:Citation of or link to the data source, TIME_PERIOD_METHOD:Time period activity related to when the data are collected, COVERAGE_TIME:The period of time for which data are provided, AGE:Current age]
Index: []

The value `SEX:Sex` is the same as it contains only one value within (ie. `_T: Total`) we should drop it from the `Filtered_CB_percent` as well.

In [10]:
Examine1 = CB_percent[~CB_percent["UNIT_MULTIPLIER:Unit multiplier"].isin(["0: Units"])]
Examine1

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
62,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2015,42.3,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2015,NaN,EOF: End of fieldwork,2015,Y0T4: Under 5 years old
125,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,98.4,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2017-18,NaN,EOF: End of fieldwork,2017-18,Y0T4: Under 5 years old
188,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,99.6,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2018-19,NaN,EOF: End of fieldwork,2018-19,Y0T4: Under 5 years old
375,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AGO: Angola,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2016,25.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2015-16,NaN,EOF: End of fieldwork,2015-16,Y0T4: Under 5 years old
562,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ARG: Argentina,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,99.7,NaN,PCNT: %,RP: Reported,F: Free,The sample was national and urban,NaN,MICS 2019-20,NaN,EOF: End of fieldwork,2019-20,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15234,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_WE: Western Europe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,100.0,NaN,PCNT: %,E: Estimated value,F: Free,Based on 32 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
15297,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,WORLD: World,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,75.6,NaN,PCNT: %,E: Estimated value,F: Free,Based on 166 countries with a population cover...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
15360,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,YEM: Yemen,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,30.7,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2013,NaN,EOF: End of fieldwork,2013,Y0T4: Under 5 years old
15423,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2018,NaN,EOF: End of fieldwork,2018,Y0T4: Under 5 years old
15486,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.7,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2019,NaN,EOF: End of fieldwork,2019,Y0T4: Under 5 years old

In [11]:
Examine1 = Examine1[~Examine1["UNIT_MULTIPLIER:Unit multiplier"].isna()]
Examine1

Empty DataFrame
Columns: [DATAFLOW, REF_AREA:Geographic area, INDICATOR:Indicator, SEX:Sex, TIME_PERIOD:Time period, OBS_VALUE:Observation Value, UNIT_MULTIPLIER:Unit multiplier, UNIT_MEASURE:Unit of measure, OBS_STATUS:Observation Status, OBS_CONF:Observation confidentaility, OBS_FOOTNOTE:Observation footnote, SERIES_FOOTNOTE:Series footnote, DATA_SOURCE:Data Source, SOURCE_LINK:Citation of or link to the data source, TIME_PERIOD_METHOD:Time period activity related to when the data are collected, COVERAGE_TIME:The period of time for which data are provided, AGE:Current age]
Index: []

Simiar is true for `UNIT_MULTIPLIER:Unit multiplier` with only one value of `0: Units` and 142 empty rows.

In [12]:
Examine1 = CB_percent[~CB_percent["UNIT_MEASURE:Unit of measure"].isin(["YR: Years"])]
Examine1

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
31,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1992,21.355,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
32,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1993,21.444,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
33,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1994,21.534,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
34,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1995,21.624,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
35,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1996,21.714,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15482,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2019,32.210,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15483,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2020,32.242,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15484,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2021,32.303,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15485,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2022,32.395,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15486,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.700,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2019,NaN,EOF: End of fieldwork,2019,Y0T4: Under 5 years old

In [13]:
Examine2 = Examine1[~Examine1["UNIT_MEASURE:Unit of measure"].isin(["PCNT: %"])]
Examine2

Empty DataFrame
Columns: [DATAFLOW, REF_AREA:Geographic area, INDICATOR:Indicator, SEX:Sex, TIME_PERIOD:Time period, OBS_VALUE:Observation Value, UNIT_MULTIPLIER:Unit multiplier, UNIT_MEASURE:Unit of measure, OBS_STATUS:Observation Status, OBS_CONF:Observation confidentaility, OBS_FOOTNOTE:Observation footnote, SERIES_FOOTNOTE:Series footnote, DATA_SOURCE:Data Source, SOURCE_LINK:Citation of or link to the data source, TIME_PERIOD_METHOD:Time period activity related to when the data are collected, COVERAGE_TIME:The period of time for which data are provided, AGE:Current age]
Index: []

For `UNIT_MEASURE:Unit of measure` need to check if for every value of `PCNT: %` each of the values in column `INDICATOR:Indicator` is equal to `PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered`

In [14]:
Examine1 = CB_percent[~CB_percent["UNIT_MEASURE:Unit of measure"].isin(["YR: Years"])]
Examine2 = Examine1 [~Examine1 ["INDICATOR:Indicator"].isin(["PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered"])]
Examine2

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
31,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1992,21.355,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
32,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1993,21.444,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
33,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1994,21.534,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
34,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1995,21.624,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
35,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_URBN: Share of urban population,_T: Total,1996,21.714,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15481,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2018,32.209,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15482,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2019,32.210,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15483,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2020,32.242,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15484,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2021,32.303,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total
15485,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,DM_POP_URBN: Share of urban population,_T: Total,2022,32.395,0: Units,PCNT: %,NaN,NaN,NaN,"233 countries from WUP2018, used WPP2019 total...","United Nations, Department of Economic and Soc...",https://population.un.org/wup/,NaN,NaN,_T: Total

As per above check since for each row where `UNIT_MEASURE:Unit of measure` is equal to `PCNT: %` at the same time values in column `INDICATOR:Indicator` are all equal to `PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered` then column `UNIT_MEASURE:Unit of measure` can also be discarded.

In [15]:
CB_percent["OBS_STATUS:Observation Status"].value_counts()

RP: Reported          120
E: Estimated value     13
RA: Reanalysed          9
Name: OBS_STATUS:Observation Status, dtype: int64

In [16]:
Examine = CB_percent[~CB_percent["OBS_STATUS:Observation Status"].isna()]
Examine

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
62,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2015,42.3,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2015,NaN,EOF: End of fieldwork,2015,Y0T4: Under 5 years old
125,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,98.4,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2017-18,NaN,EOF: End of fieldwork,2017-18,Y0T4: Under 5 years old
188,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,99.6,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2018-19,NaN,EOF: End of fieldwork,2018-19,Y0T4: Under 5 years old
375,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AGO: Angola,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2016,25.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2015-16,NaN,EOF: End of fieldwork,2015-16,Y0T4: Under 5 years old
562,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ARG: Argentina,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,99.7,NaN,PCNT: %,RP: Reported,F: Free,The sample was national and urban,NaN,MICS 2019-20,NaN,EOF: End of fieldwork,2019-20,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15234,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_WE: Western Europe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,100.0,NaN,PCNT: %,E: Estimated value,F: Free,Based on 32 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
15297,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,WORLD: World,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,75.6,NaN,PCNT: %,E: Estimated value,F: Free,Based on 166 countries with a population cover...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
15360,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,YEM: Yemen,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,30.7,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2013,NaN,EOF: End of fieldwork,2013,Y0T4: Under 5 years old
15423,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2018,NaN,EOF: End of fieldwork,2018,Y0T4: Under 5 years old
15486,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.7,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2019,NaN,EOF: End of fieldwork,2019,Y0T4: Under 5 years old

In [17]:
Examine2 = CB_percent[CB_percent["OBS_STATUS:Observation Status"].isna()]
Examine2["OBS_STATUS:Observation Status"].value_counts()

Series([], Name: OBS_STATUS:Observation Status, dtype: int64)

In [18]:
Estimated_CB_percent = CB_percent[CB_percent["OBS_STATUS:Observation Status"].isin(["E: Estimated value"])]
Estimated_CB_percent

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
4063,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_EECA: Eastern Europe and Central Asia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,99.25,NaN,PCNT: %,E: Estimated value,F: Free,Based on 19 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
4157,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_ESA: Eastern and Southern Africa,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,40.19,NaN,PCNT: %,E: Estimated value,F: Free,Based on 19 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
4690,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_ECA: Europe and Central Asia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,99.62,NaN,PCNT: %,E: Estimated value,F: Free,Based on 51 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
5377,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DEU: Germany,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,100.00,NaN,PCNT: %,E: Estimated value,F: Free,Estimated coverage of birth registration was o...,NaN,Federal Statistical Office,NaN,EOF: End of fieldwork,2020,Y0T4: Under 5 years old
7567,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_LAC: Latin America and Caribbean,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,94.85,NaN,PCNT: %,E: Estimated value,F: Free,Based on 27 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
7692,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNSDG_LDC: Least developed countries,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,45.59,NaN,PCNT: %,E: Estimated value,F: Free,Based on 40 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
9036,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_MENA: Middle East and North Africa,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,91.73,NaN,PCNT: %,E: Estimated value,F: Free,Based on 15 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
10164,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_NA: North America,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,100.00,NaN,PCNT: %,E: Estimated value,F: Free,Based on 2 countries with a population coverag...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
12944,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_SA: South Asia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,70.11,NaN,PCNT: %,E: Estimated value,F: Free,Based on 6 countries with a population coverag...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
13196,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_SSA: Sub-Saharan Africa,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,46.87,NaN,PCNT: %,E: Estimated value,F: Free,Based on 40 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
15171,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_WCA: West and Central Africa,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,53.14,NaN,PCNT: %,E: Estimated value,F: Free,Based on 21 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
15234,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_WE: Western Europe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,100.00,NaN,PCNT: %,E: Estimated value,F: Free,Based on 32 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old
15297,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,WORLD: World,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,75.60,NaN,PCNT: %,E: Estimated value,F: Free,Based on 166 countries with a population cover...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,EOF: End of fieldwork,2012-21,Y0T4: Under 5 years old

In [19]:
Reported_CB_percent = CB_percent[CB_percent["OBS_STATUS:Observation Status"].isin(["RP: Reported"])]
Reported_CB_percent

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
62,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2015,42.3,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2015,NaN,EOF: End of fieldwork,2015,Y0T4: Under 5 years old
125,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,98.4,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2017-18,NaN,EOF: End of fieldwork,2017-18,Y0T4: Under 5 years old
188,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,99.6,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2018-19,NaN,EOF: End of fieldwork,2018-19,Y0T4: Under 5 years old
375,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AGO: Angola,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2016,25.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2015-16,NaN,EOF: End of fieldwork,2015-16,Y0T4: Under 5 years old
562,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ARG: Argentina,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,99.7,NaN,PCNT: %,RP: Reported,F: Free,The sample was national and urban,NaN,MICS 2019-20,NaN,EOF: End of fieldwork,2019-20,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14828,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,VUT: Vanuatu,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,43.4,NaN,PCNT: %,RP: Reported,F: Free,Data refer only to children with a birth certi...,NaN,DHS 2013,NaN,EOF: End of fieldwork,2013,Y0T4: Under 5 years old
14953,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,VNM: Viet Nam,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2014,96.1,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2014,NaN,EOF: End of fieldwork,2014,Y0T4: Under 5 years old
15360,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,YEM: Yemen,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,30.7,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2013,NaN,EOF: End of fieldwork,2013,Y0T4: Under 5 years old
15423,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2018,NaN,EOF: End of fieldwork,2018,Y0T4: Under 5 years old
15486,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.7,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2019,NaN,EOF: End of fieldwork,2019,Y0T4: Under 5 years old

In [20]:
Rd_CB_percent_sorted = Reported_CB_percent.sort_values(["OBS_VALUE:Observation Value"])
Rd_CB_percent_sorted

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
4658,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ETH: Ethiopia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2016,2.7,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2016,NaN,EOF: End of fieldwork,2016,Y0T4: Under 5 years old
12788,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,SOM: Somalia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2006,3.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2006,NaN,EOF: End of fieldwork,2006,Y0T4: Under 5 years old
8255,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,MWI: Malawi,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2014,5.6,NaN,PCNT: %,RP: Reported,F: Free,Data refer only to children with a birth certi...,NaN,MICS 2013-14,NaN,EOF: End of fieldwork,2013-14,Y0T4: Under 5 years old
10726,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,PNG: Papua New Guinea,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,13.4,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2016-18,NaN,EOF: End of fieldwork,2016-18,Y0T4: Under 5 years old
15423,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,DHS 2018,NaN,EOF: End of fieldwork,2018,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,BTN: Bhutan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2010,99.9,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2010,NaN,EOF: End of fieldwork,2010,Y0T4: Under 5 years old
14075,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,TKM: Turkmenistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,99.9,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2019,NaN,EOF: End of fieldwork,2019,Y0T4: Under 5 years old
999,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,BHR: Bahrain,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,100.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,Information and e-Government Authority,NaN,EOF: End of fieldwork,2019,Y0T4: Under 5 years old
12600,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,SVK: Slovakia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,100.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,"Vital statistics, Statistical Office of Slovak...",NaN,EOF: End of fieldwork,2020,Y0T4: Under 5 years old
3594,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,PRK: Democratic People's Republic of Korea,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2009,100.0,NaN,PCNT: %,RP: Reported,F: Free,NaN,NaN,MICS 2009,NaN,EOF: End of fieldwork,2009,Y0T4: Under 5 years old

#### 2.1.1.3 Filtering out important data columns

In [21]:
Filtered_Reported_CB_percent = Rd_CB_percent_sorted[["REF_AREA:Geographic area","TIME_PERIOD:Time period","OBS_VALUE:Observation Value"]]
Filtered_Reported_CB_percent

,REF_AREA:Geographic area,TIME_PERIOD:Time period,OBS_VALUE:Observation Value
4658,ETH: Ethiopia,2016,2.7
12788,SOM: Somalia,2006,3.0
8255,MWI: Malawi,2014,5.6
10726,PNG: Papua New Guinea,2018,13.4
15423,ZMB: Zambia,2018,14.0
...,...,...,...
1500,BTN: Bhutan,2010,99.9
14075,TKM: Turkmenistan,2019,99.9
999,BHR: Bahrain,2019,100.0
12600,SVK: Slovakia,2020,100.0
3594,PRK: Democratic People's Republic of Korea,2009,100.0

In [22]:
Filtered_Reported_CB_percent_lessthan50 = Filtered_Reported_CB_percent[Filtered_Reported_CB_percent["OBS_VALUE:Observation Value"]<50]
Filtered_Reported_CB_percent_lessthan50

,REF_AREA:Geographic area,TIME_PERIOD:Time period,OBS_VALUE:Observation Value
4658,ETH: Ethiopia,2016,2.7
12788,SOM: Somalia,2006,3.0
8255,MWI: Malawi,2014,5.6
10726,PNG: Papua New Guinea,2018,13.4
15423,ZMB: Zambia,2018,14.0
375,AGO: Angola,2016,25.0
2565,TCD: Chad,2019,25.7
14577,TZA: United Republic of Tanzania,2016,26.4
15360,YEM: Yemen,2013,30.7
14327,UGA: Uganda,2016,32.2
13007,SSD: South Sudan,2010,35.4
3657,COD: Democratic Republic of the Congo,2018,40.1
10538,PAK: Pakistan,2018,42.2
62,AFG: Afghanistan,2015,42.3
14828,VUT: Vanuatu,2013,43.4
7818,LSO: Lesotho,2018,44.5
2502,CAF: Central African Republic,2019,44.8
6001,GNB: Guinea-Bissau,2019,46.0
15486,ZWE: Zimbabwe,2019,48.7

In [23]:
Filtered_Reported_CB_percent_morethan80 = Filtered_Reported_CB_percent[Filtered_Reported_CB_percent["OBS_VALUE:Observation Value"]>80]
Filtered_Reported_CB_percent_morethan80

,REF_AREA:Geographic area,TIME_PERIOD:Time period,OBS_VALUE:Observation Value
9475,MMR: Myanmar,2016,81.3
13761,TGO: Togo,2017,82.9
2126,BDI: Burundi,2017,83.5
8568,MHL: Marshall Islands,2017,83.8
6127,HTI: Haiti,2017,84.8
...,...,...,...
1500,BTN: Bhutan,2010,99.9
14075,TKM: Turkmenistan,2019,99.9
999,BHR: Bahrain,2019,100.0
12600,SVK: Slovakia,2020,100.0
3594,PRK: Democratic People's Republic of Korea,2009,100.0

From `Filtered_Reported_CB_percent_morethan80` we can read out that 75 countries have reported child births percentage in over `80%` cases

### Observation: 75 countries have reported child births percentage in over `80%` cases

---

---

## Age of mothers at childbirth

In [24]:
## Importing a data file into a panda dataframe

In [25]:
Age_mothers_raw = pd.read_csv('SF_2_3_Age_mothers_childbirth.csv')

### Let's explore this data set

Investigating a dataframe and cleaning data

In [26]:
Age_mothers_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 94 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   51 non-null     object
 1   Unnamed: 1   51 non-null     object
 2   Unnamed: 2   51 non-null     object
 3   Unnamed: 3   51 non-null     object
 4   Unnamed: 4   51 non-null     object
 5   Unnamed: 5   51 non-null     object
 6   Unnamed: 6   51 non-null     object
 7   Unnamed: 7   51 non-null     object
 8   Unnamed: 8   51 non-null     object
 9   Unnamed: 9   51 non-null     object
 10  Unnamed: 10  51 non-null     object
 11  Unnamed: 11  51 non-null     object
 12  Unnamed: 12  51 non-null     object
 13  Unnamed: 13  51 non-null     object
 14  Unnamed: 14  51 non-null     object
 15  Unnamed: 15  51 non-null     object
 16  Unnamed: 16  51 non-null     object
 17  Unnamed: 17  51 non-null     object
 18  Unnamed: 18  51 non-null     object
 19  Unnamed: 19  51 non-null     object
 20  Unnamed: 20  51 non-null     object
 21  Unnamed: 21  51 non-null     object
 22  Unnamed: 22  51 non-null     object
 23  Unnamed: 23  51 non-null     object
 24  Unnamed: 24  51 non-null     object
 25  Unnamed: 25  51 non-null     object
 26  Unnamed: 26  51 non-null     object
 27  Year         51 non-null     object
 28  Unnamed: 28  51 non-null     object
 29  Unnamed: 29  51 non-null     object
 30  Unnamed: 30  51 non-null     object
 31  Unnamed: 31  51 non-null     object
 32  Unnamed: 32  51 non-null     object
 33  Unnamed: 33  51 non-null     object
 34  Unnamed: 34  51 non-null     object
 35  Unnamed: 35  51 non-null     object
 36  Unnamed: 36  51 non-null     object
 37  Unnamed: 37  51 non-null     object
 38  Unnamed: 38  51 non-null     object
 39  Unnamed: 39  51 non-null     object
 40  Unnamed: 40  51 non-null     object
 41  Unnamed: 41  51 non-null     object
 42  Unnamed: 42  51 non-null     object
 43  Unnamed: 43  51 non-null     float64
 44  Unnamed: 44  51 non-null     object
 45  Unnamed: 45  51 non-null     object
 46  Unnamed: 46  51 non-null     object
 47  Unnamed: 47  51 non-null     object
 48  Unnamed: 48  51 non-null     object
 49  Unnamed: 49  51 non-null     object
 50  Unnamed: 50  51 non-null     object
 51  Unnamed: 51  51 non-null     object
 52  Unnamed: 52  51 non-null     float64
 53  Unnamed: 53  51 non-null     object
 54  Unnamed: 54  51 non-null     object
 55  Unnamed: 55  51 non-null     object
 56  Unnamed: 56  51 non-null     object
 57  Unnamed: 57  51 non-null     object
 58  Unnamed: 58  51 non-null     object
 59  Unnamed: 59  51 non-null     object
 60  Unnamed: 60  51 non-null     object
 61  Unnamed: 61  51 non-null     object
 62  Unnamed: 62  0 non-null      float64
 63  Unnamed: 63  0 non-null      float64
 64  Unnamed: 64  0 non-null      float64
 65  Unnamed: 65  0 non-null      float64
 66  Unnamed: 66  0 non-null      float64
 67  Unnamed: 67  0 non-null      float64
 68  Unnamed: 68  0 non-null      float64
 69  Unnamed: 69  0 non-null      float64
 70  Unnamed: 70  0 non-null      float64
 71  Unnamed: 71  0 non-null      float64
 72  Unnamed: 72  0 non-null      float64
 73  Unnamed: 73  0 non-null      float64
 74  Unnamed: 74  0 non-null      float64
 75  Unnamed: 75  0 non-null      float64
 76  Unnamed: 76  0 non-null      float64
 77  Unnamed: 77  0 non-null      float64
 78  Unnamed: 78  0 non-null      float64
 79  Unnamed: 79  0 non-null      float64
 80  Unnamed: 80  0 non-null      float64
 81  Unnamed: 81  0 non-null      float64
 82  Unnamed: 82  0 non-null      float64
 83  Unnamed: 83  0 non-null      float64
 84  Unnamed: 84  0 non-null      float64
 85  Unnamed: 85  0 non-null      float64
 86  Unnamed: 86  0 non-null      float64
 87  Unnamed: 87  0 non-null      float64
 88  Unnamed: 88  0 non-null      float64
 89  Unnamed: 89  0 non-null      float64
 90  Unnamed: 90  0 non-null      float64
 91  Unnamed: 91  0 non-null      float64
 92  Unnamed: 92  0 non-null      float64
 93  Unnamed: 93  0 non-null      float64
dtypes: float64(34), object(60)
memory usage: 37.6+ KB

From info() I've learned that there are 51 rows and 94 columns of data

In [27]:
Age_mothers_raw.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OECD-Average,..,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,27.5,27.5,27.5,27.5,27.5,27.4,27.3,27.3,27.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,27.6,27.5,27.5,27.4,27.4,27.3,27.1,27.0,26.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Belgium,28.0,27.9,27.9,27.8,27.7,27.6,27.5,27.4,27.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Observations:
1. could first row be used for column index and first column as row index
2. looking at the first few rows I determined that there are some null values and the question was is if some of the rows/columns could be discarded

#### Setting first row as column index and first column as row index

In [28]:
Age_mothers = Age_mothers_raw[:]
Age_mothers.columns=Age_mothers.iloc[0]
Age_mothers.head(3)

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OECD-Average,..,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,27.5,27.5,27.5,27.5,27.5,27.4,27.3,27.3,27.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
Age_mothers_index = Age_mothers.set_index('Country')
Age_mothers_index.head(3)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,,,,,,,,,,,,,,,,,,,,,
Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OECD-Average,..,..,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,27.5,27.5,27.5,27.5,27.5,27.4,27.3,27.3,27.2,27.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#Age_mothers.set_index('Country',inplace=True)

In [31]:
Age_mothers_index.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

#### Checking for columns with Null values that can be discarded

In [32]:
Age_mothers_index.isnull().sum()

0
1960     0
1961     0
1962     0
1963     0
1964     0
        ..
NaN     51
NaN     51
NaN     51
NaN     51
NaN     51
Length: 93, dtype: int64

In [33]:
Age_mothers_index.dropna(axis=1,how='all').shape

(51, 61)

In [34]:
Age_mothers_index.dropna(axis=1,how='all',inplace=True)
Age_mothers_index

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011.0,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,
Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011.0,2012,2013,2014,2015,2016,2017,2018,2019,2020
OECD-Average,..,..,..,..,..,..,..,..,..,..,...,29.7,29.8,29.9,30.0,30.2,30.3,30.4,30.5,30.6,30.7
Australia,27.5,27.5,27.5,27.5,27.5,27.4,27.3,27.3,27.2,27.2,...,30.0,30.1,30.1,30.2,30.3,30.5,30.6,30.7,30.8,30.7
Austria,27.6,27.5,27.5,27.4,27.4,27.3,27.1,27.0,26.8,26.8,...,30.0,30.2,30.3,30.4,30.6,30.6,30.7,30.9,31.0,31.0
Belgium,28.0,27.9,27.9,27.8,27.7,27.6,27.5,27.4,27.3,27.2,...,29.8,30.0,30.2,30.3,30.4,30.5,30.6,30.7,30.8,30.8
Canada,27.9,27.8,27.8,27.8,27.9,27.8,27.7,27.5,27.3,27.3,...,30.2,30.3,30.4,30.5,30.6,30.7,30.9,31.0,31.2,31.3
Chile,29.3,29.3,29.3,29.2,29.1,29.1,29.0,28.8,28.7,28.6,...,28.0,28.1,28.3,28.5,28.8,29.1,29.4,29.6,29.9,30.1
Czech Republic,25.7,25.6,25.5,25.7,25.8,25.5,25.2,25.0,24.9,24.8,...,29.7,29.8,29.9,29.9,30.0,30.0,30.0,30.1,30.2,30.2
Colombia,29.4,29.4,29.5,29.5,29.6,29.7,29.8,29.8,29.9,29.8,...,26.1,25.9,25.9,26.0,26.2,26.2,26.4,26.5,26.5,26.6
Costa Rica,29.1,29.3,29.3,29.3,29.3,29.3,29.3,29.2,29.1,28.9,...,26.6,26.5,26.7,26.8,27.1,27.2,27.4,27.6,27.9,28.4
Denmark,26.9,26.9,26.9,27.3,26.8,26.8,26.6,26.5,26.5,26.6,...,30.7,30.7,30.8,30.9,31.0,31.0,31.1,31.2,31.3,31.4
Estonia,27.9,27.7,27.5,27.6,27.4,27.3,27.3,27.1,26.9,26.9,...,29.5,29.6,29.5,29.6,29.9,30.2,30.4,30.5,30.6,30.7
Finland,28.3,28.3,28.1,28.1,28.0,28.0,27.8,27.7,27.5,27.4,...,30.3,30.4,30.5,30.5,30.6,30.8,30.9,31.0,31.1,31.2
France,..,..,..,..,..,..,..,..,..,..,...,30.0,30.1,30.2,30.3,30.4,30.5,30.6,30.6,30.7,30.8
Germany,..,..,..,..,..,..,..,..,..,..,...,30.5,30.6,30.8,30.9,30.9,30.9,31.0,31.1,31.2,31.3
Greece,28.8,28.7,28.6,28.4,28.2,28.1,27.9,27.8,27.7,27.7,...,30.5,30.7,30.9,31.1,31.3,31.3,31.4,31.5,31.7,31.7
Hungary,25.8,25.7,25.7,25.8,25.7,25.6,25.6,25.6,25.5,25.5,...,29.4,29.4,29.5,29.5,29.6,29.6,29.8,29.8,29.9,29.9
Iceland,..,..,..,27.6,27.7,27.7,27.5,27.5,27.4,27.3,...,30.1,30.1,30.4,30.2,30.3,30.6,30.6,30.6,30.9,30.7
Ireland,31.4,31.3,31.3,31.1,31.1,31.0,30.9,30.8,30.6,30.5,...,31.5,31.5,31.7,31.8,31.9,32.1,32.1,32.2,32.4,32.6
Israel,28.0,28.1,28.1,28.1,28.1,28.2,28.2,28.2,28.5,28.4,...,30.1,30.1,30.2,30.3,30.3,30.4,30.4,30.4,30.5,30.5
Italy,29.2,29.1,29.1,28.9,28.8,28.7,28.7,28.6,28.5,28.5,...,31.4,31.4,31.5,31.5,31.7,31.8,31.9,32.0,32.1,32.2
Japan,27.6,..,..,..,..,27.4,..,..,..,..,...,31.3,31.5,31.6,31.7,31.8,31.9,32.0,32.0,32.0,32.0
Korea,..,..,..,..,..,..,..,..,..,..,...,31.4,31.6,31.8,32.0,32.2,32.4,32.6,32.8,33.0,33.1
Latvia,..,..,..,..,..,..,..,..,..,..,...,28.7,28.8,29.0,29.2,29.4,29.6,29.7,29.9,30.0,30.0
Lithuania,..,..,..,..,..,..,..,..,..,..,...,28.9,29.0,29.2,29.4,29.5,29.7,29.8,30.1,30.2,30.4
Luxembourg,27.7,..,..,..,..,..,..,27.1,27.1,27.3,...,30.8,31.0,31.3,31.4,31.5,31.7,31.9,32.1,32.3,32.3
Mexico,29.1,29.3,29.4,29.4,29.6,29.9,30.0,30.0,29.8,30.1,...,26.6,26.5,26.5,26.6,26.7,26.8,26.9,26.6,26.8,27.1
Netherlands,29.8,29.6,29.5,29.3,29.2,29.0,28.8,28.5,28.4,28.3,...,30.9,30.9,31.0,31.1,31.2,31.3,31.4,31.5,31.6,31.7
New Zealand,..,..,27.5,27.5,27.4,27.2,27.0,26.9,26.8,26.8,...,29.7,29.8,29.9,30.1,30.2,30.4,30.4,30.6,30.7,30.8
Norway,..,27.9,27.8,27.8,27.8,27.7,27.6,27.5,27.3,27.2,...,30.3,30.3,30.5,30.6,30.7,30.8,31.0,31.1,31.3,31.4
Poland,..,..,..,..,..,..,..,..,..,..,...,28.9,28.9,29.0,29.1,29.2,29.4,29.5,29.6,29.7,29.8
Portugal,29.6,29.6,29.5,29.6,29.5,29.5,29.4,29.3,29.2,29.1,...,30.1,30.2,30.4,30.7,30.9,31.1,31.2,31.4,31.4,31.6
Slovak Republic,..,26.7,26.6,26.8,26.9,26.8,26.6,26.5,26.4,26.3,...,28.9,28.7,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.9
Slovenia,..,..,..,..,..,..,..,..,..,..,...,30.1,30.1,30.1,30.2,30.2,30.3,30.3,30.4,30.5,30.4
Spain,..,..,..,..,..,..,..,..,..,..,...,31.4,31.6,31.7,31.8,31.9,32.0,32.1,32.2,32.3,32.3
Sweden,..,..,..,..,..,..,..,..,27.0,27.1,...,30.8,30.9,30.9,31.0,31.0,31.1,31.1,31.1,31.3,31.3
Switzerland,28.7,28.1,27.9,27.8,27.8,27.7,27.7,27.5,27.5,27.9,...,31.4,31.5,31.6,31.8,31.8,31.9,31.9,32.0,32.1,32.2
Turkey,..,..,..,..,..,..,..,..,..,..,...,27.9,28.1,28.3,28.4,28.6,28.6,28.7,28.9,29.0,29.0
United Kingdom,..,..,..,..,..,..,..,..,..,..,...,29.7,29.8,30.0,30.2,30.3,30.4,30.5,30.6,30.7,30.7
United States,26.4,26.4,26.5,26.5,26.6,26.6,26.4,26.3,26.3,26.2,...,27.9,28.0,28.2,28.3,28.5,28.7,28.8,29.0,29.1,29.2
Brazil,..,..,..,..,..,..,..,29.2,29.3,29.4,...,27.9,26.7,26.7,26.8,26.9,27.0,27.1,..,..,..
China,29.8,29.9,29.3,29.5,29.8,29.7,29.8,29.9,29.8,29.8,...,28.4,27.6,27.9,28.0,27.4,28.4,..,..,..,..
India,..,..,..,..,..,..,..,..,..,..,...,26.5,26.5,26.4,26.3,26.9,27.3,28.1,..,..,..
Indonesia,..,..,..,..,..,..,..,..,..,28.4,...,28.2,..,..,28.5,..,..,..,..,..,..
Russian Federation,..,..,..,..,..,..,..,..,..,..,...,27.7,27.8,27.9,28.1,28.2,28.4,..,..,..,..
South Africa,..,..,..,..,..,..,..,..,..,..,...,28.4,..,..,..,..,..,..,..,..,..
Bulgaria,25.1,25.1,25.1,25.0,24.9,24.8,24.7,24.7,24.7,24.8,...,27.1,27.1,27.1,27.3,27.4,27.6,27.6,27.7,27.8,27.8
Croatia,..,..,..,..,..,..,..,..,..,..,...,29.3,29.4,29.6,29.8,29.9,30.1,30.3,30.4,30.5,30.6
Cyprus,..,..,..,..,..,..,..,..,..,..,...,30.5,30.6,30.8,31.0,31.3,31.4,31.4,31.5,31.7,31.7
Malta,..,..,..,..,..,..,..,..,..,..,...,29.8,29.8,30.0,30.1,30.3,30.6,30.5,30.8,30.7,30.7
Romania,..,..,..,..,..,..,..,..,..,..,...,27.1,27.2,27.4,27.5,27.6,27.8,27.9,28.0,28.1,28.2

In [35]:
Age_mothers_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Country to Romania
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    51 non-null     object
 1   1961    51 non-null     object
 2   1962    51 non-null     object
 3   1963    51 non-null     object
 4   1964    51 non-null     object
 5   1965    51 non-null     object
 6   1966    51 non-null     object
 7   1967    51 non-null     object
 8   1968    51 non-null     object
 9   1969    51 non-null     object
 10  1970    51 non-null     object
 11  1971    51 non-null     object
 12  1972    51 non-null     object
 13  1973    51 non-null     object
 14  1974    51 non-null     object
 15  1975    51 non-null     object
 16  1976    51 non-null     object
 17  1977    51 non-null     object
 18  1978    51 non-null     object
 19  1979    51 non-null     object
 20  1980    51 non-null     object
 21  1981    51 non-null     object
 22  1982    51 non-null     object
 23  1983    51 non-null     object
 24  1984    51 non-null     object
 25  1985    51 non-null     object
 26  1986    51 non-null     object
 27  1987    51 non-null     object
 28  1988    51 non-null     object
 29  1989    51 non-null     object
 30  1990    51 non-null     object
 31  1991    51 non-null     object
 32  1992    51 non-null     object
 33  1993    51 non-null     object
 34  1994    51 non-null     object
 35  1995    51 non-null     object
 36  1996    51 non-null     object
 37  1997    51 non-null     object
 38  1998    51 non-null     object
 39  1999    51 non-null     object
 40  2000    51 non-null     object
 41  2001    51 non-null     object
 42  2002.0  51 non-null     float64
 43  2003    51 non-null     object
 44  2004    51 non-null     object
 45  2005    51 non-null     object
 46  2006    51 non-null     object
 47  2007    51 non-null     object
 48  2008    51 non-null     object
 49  2009    51 non-null     object
 50  2010    51 non-null     object
 51  2011.0  51 non-null     float64
 52  2012    51 non-null     object
 53  2013    51 non-null     object
 54  2014    51 non-null     object
 55  2015    51 non-null     object
 56  2016    51 non-null     object
 57  2017    51 non-null     object
 58  2018    51 non-null     object
 59  2019    51 non-null     object
 60  2020    51 non-null     object
dtypes: float64(2), object(59)
memory usage: 26.8+ KB

In [36]:
Age_mothers_index.dtypes[42]

dtype('float64')

---

---

# Visualisation