# Importing python packages

In [1]:
import pandas as pd

# Importing and analysing the data sets
## Births registration
First we need to import the dataset. As the dataset is in CSV format the easiest way is to use 'read_csv' pandas function for this file format.

Birth registration data (2022) Birth registration data - UNICEF DATA data.unicef.org. UNICEF. Available at: https://data.unicef.org/resources/dataset/percentage-children-age-5-whose-births-registered-sex-place-residence-household-wealth-quintile/ (Accessed: December 30, 2022).

NOTE: File name for originally generated CSV file had to be renamed as Git was throwing the ‘Filename too long’ error when tried to add it to repository.

In [2]:
CB_percent = pd.read_csv('Percent of children_UNICEF_1.0_all.csv',low_memory=False)

### Exploring the data set

In [3]:
CB_percent.shape

(1648747, 22)

In [4]:
CB_percent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648747 entries, 0 to 1648746
Data columns (total 22 columns):
 #   Column                                                                          Non-Null Count    Dtype
---  ------                                                                          --------------    -----
 0   DATAFLOW                                                                        1648747 non-null  object
 1   REF_AREA:Geographic area                                                        1648747 non-null  object
 2   INDICATOR:Indicator                                                             1648747 non-null  object
 3   SEX:Sex                                                                         1648747 non-null  object
 4   TIME_PERIOD:Time period                                                         1648747 non-null  object
 5   OBS_VALUE:Observation Value                                                     1648747 non-null  object
 6   UNIT_MULTIPLIER:Unit multiplier                                                 1003259 non-null  object
 7   UNIT_MEASURE:Unit of measure                                                    1648747 non-null  object
 8   OBS_STATUS:Observation Status                                                   791506 non-null   object
 9   OBS_CONF:Observation confidentaility                                            419096 non-null   object
 10  LOWER_BOUND:Lower Bound                                                         688906 non-null   object
 11  UPPER_BOUND:Upper Bound                                                         689206 non-null   object
 12  WGTD_SAMPL_SIZE:Weighted Sample Size                                            119802 non-null   float64
 13  OBS_FOOTNOTE:Observation footnote                                               87836 non-null    object
 14  SERIES_FOOTNOTE:Series footnote                                                 928206 non-null   object
 15  DATA_SOURCE:Data Source                                                         1647912 non-null  object
 16  SOURCE_LINK:Citation of or link to the data source                              943990 non-null   object
 17  CUSTODIAN:Custodian                                                             212669 non-null   object
 18  TIME_PERIOD_METHOD:Time period activity related to when the data are collected  246416 non-null   object
 19  REF_PERIOD:Reference Period                                                     657 non-null      object
 20  COVERAGE_TIME:The period of time for which data are provided                    336666 non-null   object
 21  AGE:Current age                                                                 1648747 non-null  object
dtypes: float64(1), object(21)
memory usage: 276.7+ MB

We can see that there are a lot of null data values, however no columns are totally empty, hence need to analyse to detemine what columns are of interest and which can be discarded.

#### Analysis what columns can be discarded from the original data set

In [5]:
CB_percent.groupby('DATAFLOW').nunique()

,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
DATAFLOW,,,,,,,,,,,,,,,,,,,,,
UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators,330,380,3,163,844052,2,25,8,2,289582,...,16445,1037,21,5007,51,7,3,2,377,29

In [6]:
CB_percent.groupby('REF_AREA:Geographic area').nunique()

,DATAFLOW,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
REF_AREA:Geographic area,,,,,,,,,,,,,,,,,,,,,
ABW: Aruba,1,42,3,73,2636,2,8,2,1,0,...,0,4,6,9,6,0,1,0,3,3
AFG: Afghanistan,1,293,3,73,5419,2,25,7,2,2040,...,62,29,15,73,19,5,3,2,27,24
AGO: Angola,1,304,3,73,5223,2,25,6,1,1997,...,60,22,17,63,17,7,3,2,21,21
AIA: Anguilla,1,57,3,73,2441,2,7,3,2,0,...,0,5,5,15,8,0,1,0,5,5
ALB: Albania,1,301,3,73,4907,2,23,7,2,1623,...,145,23,16,72,18,6,3,2,32,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX: Kosovo,1,47,3,73,2471,2,6,2,1,0,...,0,1,6,8,1,0,1,0,3,9
YEM: Yemen,1,314,3,73,5577,2,25,7,1,2210,...,114,24,16,67,19,5,3,2,16,23
ZAF: South Africa,1,314,3,73,5602,2,25,7,2,2323,...,97,30,17,73,19,7,3,2,34,22
ZMB: Zambia,1,330,3,73,6196,2,25,7,2,2865,...,232,28,17,92,19,7,3,2,35,23
ZWE: Zimbabwe,1,346,3,73,6389,2,25,7,1,2955,...,293,30,17,89,19,7,3,2,28,26

In [7]:
CB_percent.groupby('INDICATOR:Indicator').nunique()

,DATAFLOW,REF_AREA:Geographic area,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
INDICATOR:Indicator,,,,,,,,,,,,,,,,,,,,,
CME_ARR_10T19: Annual Rate of Reduction in Mortality Rate Age 10-19,1,231,1,1,62,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,1
CME_ARR_SBR: Annual rate of reduction in stillbirth rate (over previous 20 years),1,208,1,1,206,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,1
CME_ARR_U5MR: Annual rate of reduction in under-five mortality rate (over previous 20 years),1,231,1,1,77,0,1,1,0,85,...,0,0,0,1,0,0,0,1,0,1
CME_MRM0: Neonatal mortality rate,1,239,1,70,10671,0,1,1,0,10671,...,0,5,0,1,0,0,0,0,0,1
CME_MRY0: Infant mortality rate,1,239,3,87,38989,0,1,1,0,38994,...,0,5,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WS_SCH_W-B: Proportion of schools with basic drinking water services,1,182,1,22,761,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
WS_SCH_W-L: Proportion of schools with limited drinking water services,1,170,1,22,746,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
WS_SCH_W-N: Proportion of schools with no drinking water service,1,202,1,22,1553,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
"WT_ADLS_15-19_ED_NEET: Percentage of adolescents (aged 15-19 years) not in education, employment or training",1,127,3,22,402,0,1,2,1,0,...,0,43,0,81,0,0,1,0,22,1
WT_ADLS_15-19_LAB_FRC_UNEMP: Percentage of adolescents (aged 15-19 years) in the labour force who are unemployed,1,188,3,12,672,0,1,2,1,0,...,0,108,0,94,0,0,1,0,12,1

In [8]:
CB_percent.groupby('SEX:Sex').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
SEX:Sex,,,,,,,,,,,,,,,,,,,,,
F: Female,1,298,215,125,234566,2,17,8,1,73361,...,5549,497,8,3474,18,3,3,0,339,23
M: Male,1,298,202,125,235140,2,14,7,1,74783,...,5599,320,8,1858,14,3,3,0,319,22
_T: Total,1,330,357,162,479137,2,21,8,2,168580,...,7060,780,21,3646,47,7,3,2,364,27

In [9]:
CB_percent.groupby('TIME_PERIOD:Time period').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
TIME_PERIOD:Time period,,,,,,,,,,,,,,,,,,,,,
1932,1,1,1,1,1,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,1
1933,1,1,1,1,1,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,1
1934,1,2,3,1,4,0,2,1,0,4,...,0,0,0,1,0,0,0,0,0,1
1935,1,2,3,1,4,0,2,1,0,4,...,0,0,0,1,0,0,0,0,0,1
1936,1,2,3,1,4,0,2,1,0,4,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020,1,321,299,3,26524,2,16,7,2,9660,...,307,376,12,203,21,3,3,1,41,24
2020-04-16,1,1,57,3,97,1,2,1,1,86,...,15,0,1,1,1,1,1,0,1,1
2020-12-11,1,1,57,3,79,1,2,1,1,69,...,6,2,1,1,1,1,1,0,1,1
2021,1,300,189,3,12015,2,11,5,2,268,...,83,153,5,80,9,1,2,1,25,16
2022,1,255,30,3,8653,2,5,3,2,0,...,0,10,3,7,3,0,1,0,2,3

In [10]:
CB_percent.groupby('UNIT_MULTIPLIER:Unit multiplier').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
UNIT_MULTIPLIER:Unit multiplier,,,,,,,,,,,,,,,,,,,,,
0: Units,1,329,180,3,145,197935,11,7,1,9716,...,16445,627,14,4454,24,7,3,0,350,19
3: Thousands,1,302,10,3,73,260504,2,2,1,5677,...,0,21,4,7,4,2,1,0,2,3

In [11]:
CB_percent.groupby('OBS_STATUS:Observation Status').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
OBS_STATUS:Observation Status,,,,,,,,,,,,,,,,,,,,,
A: Normal value,1,243,39,3,90,279319,0,11,0,275559,...,0,12,0,7,0,0,0,2,0,3
AD: Adjusted,1,161,18,3,39,513,1,1,1,0,...,226,30,6,335,5,4,2,0,118,8
E: Estimated value,1,288,78,3,43,16730,2,5,2,8256,...,0,422,5,43,8,2,2,0,28,20
ER: External Reanalysis,1,99,46,3,34,812,1,2,1,145,...,878,18,4,312,4,2,1,0,128,8
MD: Modelled,1,253,9,2,22,4525,2,4,1,5594,...,0,5,2,8,3,2,1,0,3,3
RA: Reanalysed,1,253,129,3,97,2945,1,4,2,2210,...,15387,249,5,1644,31,3,3,0,276,21
RP: Reported,1,234,105,3,43,2592,1,3,1,411,...,369,304,6,2829,15,3,3,0,296,22
U: Low reliability,1,32,10,3,18,183,1,1,1,175,...,141,4,3,61,3,2,2,0,36,7

In [12]:
CB_percent.groupby('OBS_CONF:Observation confidentaility').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
OBS_CONF:Observation confidentaility,,,,,,,,,,,,,,,,,,,,,
F: Free,1,325,194,3,120,23070,2,8,7,14495,...,16445,1007,9,4812,20,7,3,0,374,25
"N: Not for publication, restricted for internal use only",1,135,2,1,13,158,0,1,2,0,...,0,11,0,138,26,0,1,0,19,2

In [13]:
CB_percent.groupby('LOWER_BOUND:Lower Bound').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
LOWER_BOUND:Lower Bound,,,,,,,,,,,,,,,,,,,,,
-0.0,1,58,4,3,33,6,1,1,1,1,...,190,13,1,109,1,1,1,0,52,1
-0.1,1,63,5,3,41,6,1,2,2,1,...,311,11,1,146,1,1,1,1,53,2
-0.2,1,74,5,3,46,10,1,2,2,1,...,372,12,1,174,1,1,1,1,63,2
-0.3,1,78,5,3,49,5,2,1,2,1,...,385,15,2,199,2,2,2,0,67,2
-0.4,1,80,5,3,44,7,1,2,4,1,...,358,11,1,180,1,1,1,1,62,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
<1,1,88,4,1,21,9,1,1,1,1,...,0,0,1,1,1,0,0,0,2,2
<100,1,124,7,3,21,11,1,1,1,1,...,0,0,1,1,1,0,0,0,1,1
<200,1,120,7,3,21,52,1,1,1,1,...,0,0,1,1,1,0,0,0,1,1
<500,1,123,7,3,21,73,1,1,1,1,...,0,0,1,1,1,0,0,0,1,1
>95,1,17,4,1,20,1,1,1,1,1,...,0,0,1,1,1,0,0,0,2,2

In [14]:
CB_percent.groupby('UPPER_BOUND:Upper Bound').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
UPPER_BOUND:Upper Bound,,,,,,,,,,,,,,,,,,,,,
-0.0,1,52,4,3,34,3,1,1,1,1,...,163,8,1,97,1,1,1,0,46,1
-0.1,1,69,4,3,48,4,1,1,2,1,...,354,13,1,172,1,1,1,0,56,1
-0.2,1,67,4,3,47,4,1,1,3,1,...,352,14,1,180,1,1,1,0,54,1
-0.3,1,71,4,3,44,3,1,1,3,1,...,320,9,1,160,1,1,1,0,57,1
-0.4,1,69,4,3,45,5,1,1,3,1,...,358,11,1,168,1,1,1,0,58,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
<1,1,86,4,1,18,1,1,1,1,1,...,0,0,1,1,1,0,0,0,2,2
<100,1,107,7,3,21,1,1,1,1,1,...,0,0,1,1,1,0,0,0,1,1
<200,1,114,7,3,21,2,1,1,1,1,...,0,0,1,1,1,0,0,0,1,1
<500,1,114,7,3,21,3,1,1,1,1,...,0,0,1,1,1,0,0,0,1,1
>95,1,71,4,1,21,214,1,1,1,1,...,0,0,1,1,1,0,0,0,2,2

In [15]:
CB_percent.groupby('WGTD_SAMPL_SIZE:Weighted Sample Size').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,UPPER_BOUND:Upper Bound,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
WGTD_SAMPL_SIZE:Weighted Sample Size,,,,,,,,,,,,,,,,,,,,,
0.000000e+00,1,1,2,1,1,2,1,1,1,1,...,2,0,1,1,1,1,1,0,1,1
2.000000e-01,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,0,1,1
3.000000e-01,1,1,3,2,1,4,1,1,1,1,...,4,0,1,1,1,1,1,0,2,3
4.000000e-01,1,1,3,2,1,3,1,1,1,1,...,3,0,1,1,1,1,1,0,2,2
5.000000e-01,1,1,3,2,1,3,1,1,1,1,...,3,0,1,1,1,1,1,0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2.360556e+12,1,1,9,1,1,8,1,1,1,1,...,4,1,1,1,1,1,1,0,1,1
2.361127e+12,1,1,11,1,1,9,1,2,1,1,...,10,1,1,1,1,1,1,0,2,1
2.364772e+12,1,1,11,1,1,10,1,2,1,1,...,10,1,1,1,1,1,1,0,1,1
2.377285e+12,1,1,11,1,1,10,1,2,1,1,...,10,1,1,1,1,1,1,0,2,1
2.431224e+12,1,1,11,1,1,8,1,2,1,1,...,9,1,1,1,1,1,1,0,2,1

In [16]:
CB_percent.groupby('OBS_FOOTNOTE:Observation footnote').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,UPPER_BOUND:Upper Bound,WGTD_SAMPL_SIZE:Weighted Sample Size,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
OBS_FOOTNOTE:Observation footnote,,,,,,,,,,,,,,,,,,,,,
-Break in series-Break in series: Methodology revised-Repository: ILO-STATISTICS - Micro data processing | Age coverage - maximum age: 75 years old,1,1,1,3,1,3,0,1,1,1,...,0,0,0,1,0,0,1,0,1,1
-Break in series-Break in series: Methodology revised-Repository: ILO-STATISTICS - Micro data processing | Age coverage - minimum age: 10 years old | Age coverage - maximum age: 75 years old,1,2,1,3,1,6,0,1,1,1,...,0,0,0,2,0,0,1,0,1,1
-Break in series-Break in series: Methodology revised-Repository: ILO-STATISTICS - Micro data processing | Age coverage - minimum age: 16 years old,1,2,1,3,3,9,0,1,1,1,...,0,0,0,2,0,0,1,0,3,1
-Break in series-Break in series: Methodology revised-Repository: ILO-STATISTICS - Micro data processing | Age coverage - minimum age: 16 years old | Age coverage - maximum age: 64 years old,1,1,1,3,1,3,0,1,1,1,...,0,0,0,1,0,0,1,0,1,1
-Break in series-Break in series: Methodology revised-Repository: ILO-STATISTICS - Micro data processing | Age coverage - minimum age: Less than or equal to 9 years old,1,1,1,3,1,3,0,1,1,1,...,0,0,0,1,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
regional average is based only on United States data hence confidence intervals are not provided,1,2,1,1,20,3,1,1,1,1,...,0,0,1,1,1,1,1,0,1,1
regional average is based only on United States data hence confidence intervals are not provided The estimates for the year 2020 do not account for the impact of COVID-19. Household survey data on child height and age were not collected in 2020 due to physical distancing policies.,1,2,3,1,1,3,1,1,1,1,...,0,0,1,1,1,1,1,0,2,1
y,1,1,1,3,1,3,0,1,1,1,...,0,0,0,1,0,0,1,0,1,1
ÃÂ¢Ã¢ÂÂ°ÃÂ¥5ppm,1,4,2,1,6,8,1,1,2,1,...,5,4,1,6,1,1,1,0,4,1
ÃÂ¢Ã¢ÂÂ°ÃÂ¥5ppm Obtained from Knowles JM Garrett GS Gorstein J et al. Household Coverage with Adequately Iodized Salt Varies Greatly between Countries and by Residence Type and Socioeconomic Status within Countries Results from 10 National Coverage Surveys. J Nutr. 2017 147(5) 1004SÃÂ¢Ã¢ÂÂ¬Ã¢ÂÂ1014S. Doi 10.3945/jn.116.242586,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,0,1,1

In [ ]:
CB_percent.groupby('SERIES_FOOTNOTE:Series footnote').nunique()

In [ ]:
CB_percent.groupby('DATA_SOURCE:Data Source').nunique()

In [ ]:
CB_percent.groupby('SOURCE_LINK:Citation of or link to the data source').nunique()

In [ ]:
CB_percent.groupby('CUSTODIAN:Custodian').nunique()

In [ ]:
CB_percent.groupby('TIME_PERIOD_METHOD:Time period activity related to when the data are collected').nunique()

In [ ]:
CB_percent.groupby('REF_PERIOD:Reference Period').nunique()

In [23]:
CB_percent.groupby('COVERAGE_TIME:The period of time for which data are provided').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,UPPER_BOUND:Upper Bound,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,AGE:Current age
COVERAGE_TIME:The period of time for which data are provided,,,,,,,,,,,,,,,,,,,,,
1975-2016,1,190,2,3,42,620,1,1,0,1,...,716,0,0,1,2,1,1,1,0,1
1983-2010,1,1,5,3,3,33,1,1,3,1,...,13,13,2,1,3,1,1,1,0,1
1985-1994,1,1,3,1,2,6,1,1,1,1,...,0,2,2,1,2,1,1,1,0,1
1985-1995,1,1,4,1,2,8,1,1,1,1,...,0,2,1,1,2,1,1,1,0,1
1985-2018,1,1,4,3,3,19,1,1,2,1,...,14,13,2,1,3,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-2030,1,253,2,3,1,988,1,1,0,0,...,0,0,0,2,2,2,0,0,0,1
2020-21,1,1,2,3,1,5,0,1,2,1,...,0,0,0,0,2,0,0,1,0,2
2021,1,253,26,3,1,308,1,4,4,2,...,0,0,14,0,40,3,0,1,0,12
2022,1,1,1,1,1,1,0,1,1,1,...,0,0,0,0,1,1,0,1,0,1
NA-NA,1,4,2,3,1,21,1,1,1,1,...,0,0,0,0,1,0,0,1,0,2

In [24]:
CB_percent.groupby('AGE:Current age').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,UPPER_BOUND:Upper Bound,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided
AGE:Current age,,,,,,,,,,,,,,,,,,,,,
M0T23: Under 24 months old,1,179,2,3,41,522,1,1,5,1,...,474,1111,47,1,523,1,1,2,0,128
M0T47: Under 48 months old,1,2,3,3,2,18,0,1,1,1,...,0,0,4,0,2,0,0,1,0,2
M0T5: Under 6 months old,1,189,3,3,41,1670,1,1,6,1,...,1599,2063,58,2,1012,2,2,2,0,129
M12T15: 12 to 15 months old,1,132,1,3,45,592,1,1,5,1,...,474,1200,7,1,624,1,1,1,0,95
M12T23: 12 to 23 months old,1,256,12,3,52,724,1,1,6,1,...,577,1228,55,1,517,1,1,2,0,92
M20T23: 20 to 23 months old,1,131,1,3,45,666,1,1,5,1,...,593,1153,5,1,611,1,1,1,0,96
M24T59: 24 to 59 months old,1,51,1,3,5,138,0,1,3,1,...,0,0,13,0,13,0,0,1,0,8
M36T59: 36 to 59 months old,1,113,2,3,17,428,0,1,3,1,...,0,0,30,0,49,0,0,1,0,26
M6T23: 6 to 23 months old,1,174,14,3,30,1047,1,1,5,1,...,974,1715,138,1,385,1,1,2,0,102
M6T59: 6 to 59 months old,1,64,3,1,21,100,1,1,1,1,...,0,0,1,1,3,0,1,1,0,19
Y0: Under 1 year old,1,205,5,1,42,834,1,2,2,1,...,488,0,0,1,3,1,0,0,0,1
Y0T14: Under 15 years old,1,30,1,1,11,30,0,1,3,1,...,0,0,5,0,25,0,0,1,0,18
Y0T17: Under 18 years old,1,250,6,1,19,1177,2,3,2,1,...,0,0,15,0,113,22,0,1,0,18
Y0T4: Under 5 years old,1,270,72,3,89,6523,2,2,7,1,...,6078,9366,180,1,1315,6,1,3,0,289
Y10T14: 10 to 14 years old,1,238,2,2,22,218,1,2,3,1,...,0,0,12,0,351,1,0,1,0,22
Y10T19: 10 to 19 years old,1,194,4,3,43,623,1,1,0,1,...,716,0,0,1,2,1,1,1,0,1
Y11T17: 11 to 17 years old,1,175,1,3,16,6469,1,1,1,1,...,0,0,1,0,2,1,0,1,0,3
Y13T15: 13 to 15 years,1,194,2,3,18,414,1,1,3,1,...,0,0,11,0,46,1,0,1,0,22
Y14T17: 14 to 17 years old,1,43,1,1,9,43,0,1,1,1,...,0,0,0,0,29,8,0,1,0,10
Y15T19: 15 to 19 years old,1,256,4,3,23,904,1,1,3,1,...,0,0,151,0,122,1,0,1,0,24
Y15T24: 15 to 24 years old,1,78,4,3,22,632,1,1,1,1,...,0,0,0,0,53,0,0,1,0,4
Y15T49: 15 to 49 years old,1,253,16,3,22,2087,1,4,4,1,...,0,0,216,0,1944,4,0,1,0,179
Y18T29: 18 to 29 years old,1,64,2,1,14,55,0,1,3,1,...,0,0,17,0,36,0,0,1,0,22
Y1T14: 1 to 14 years old,1,95,1,3,12,206,0,1,3,1,...,0,0,22,0,34,0,0,1,0,21
Y20T24: 20 to 24 years old,1,177,3,2,22,362,1,1,4,1,...,0,0,32,0,176,3,0,1,0,95
Y5T17: 5 to 17 years old,1,82,1,3,11,177,0,1,3,1,...,0,0,17,0,43,0,0,1,0,19
Y_GE15: 15 years old and over,1,192,3,3,5,849,0,1,1,0,...,0,0,0,0,2,0,0,0,0,0
Y_GE25: 25 years old and over,1,109,1,2,7,218,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
_T: Total,1,329,209,3,115,830655,2,22,7,1,...,291052,1615,140,17,1535,10,4,3,2,195

- `DATAFLOW` column has only one value, which has no added value for our project, hence can be dropped from the original data set.
- `REF_AREA:Geographic area` column contains 330 differenc geographical areas (ie. countries) which is one of the main coulumns we expected to find.
- `INDICATOR:Indicator` column lists different indicators that data represents. There are 380 unique values.  
- `SEX:Sex` column indicate if the figures collected reffer to *F: Female*, *M: Male* or *_T: Total*. Something I'm not focusing to look into at this moment, hence decision to look at only *_T: Total* values.
- `TIME_PERIOD:Time period` column indicates year the data is reported for, but it was noticed that some fields don't only contain just a year, but also a specific dates. This needs further analysis and filtering.
- `UNIT_MULTIPLIER:Unit multiplier`column indicates if data represents *0: Units* or *3: Thousands*.
- `OBS_STATUS:Observation Status` column has 8 unique values describing how the values were obtained. I have decided to discard all rows that are not having *A: Normal value* or *RP: Reported* values.
- `OBS_CONF:Observation confidentaility`column indicates if data is *F: Free* or *N: Not for publication, restricted for internal use only*.
- `LOWER_BOUND:Lower Bound` contains 289582 different values. 
- `UPPER_BOUND:Upper Bound` contains 297085 different values.
- `WGTD_SAMPL_SIZE:Weighted Sample Size` contains 16445 different values.
- `OBS_FOOTNOTE:Observation footnote` contains 1037 different notes about the data points.
- `SERIES_FOOTNOTE:Series footnote`  contains 21 different values and provides some additional note about the data points
- `DATA_SOURCE:Data Source` contains 5007 different references on where is data coming from and it looks it's mainly written in the local language.
- `SOURCE_LINK:Citation of or link to the data source` column name is self explanatory and contas 51 unique values
- `CUSTODIAN:Custodian` column contains information about 7 different data custodians.
- `TIME_PERIOD_METHOD:Time period activity related to when the data are collected` column has 3 unique values *EOF: End of fieldwork*,  *MOF: Middle of fieldwork* and *OTHER: Other* which doesn't seem too interesting hence will drop from the final data set. 
- `REF_PERIOD:Reference Period` column contains two unique values *2000-2019* and *2000-2020*
- `COVERAGE_TIME:The period of time for which data are provided` column contains 377 unique values for the time period data points are provided.
- `AGE:Current age` column indicates the age range of population counted and contains 29 unique values.

Analyzing `INDICATOR:Indicator` column

In [ ]:
CB_Ind = CB_percent.groupby('INDICATOR:Indicator').nunique()
CB_Ind

In [58]:
CB_Ind[CB_Ind.index.str.contains("birt")]

,DATAFLOW,REF_AREA:Geographic area,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,LOWER_BOUND:Lower Bound,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
INDICATOR:Indicator,,,,,,,,,,,,,,,,,,,,,
CME_ARR_SBR: Annual rate of reduction in stillbirth rate (over previous 20 years),1,208,1,1,206,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,1
CME_SB: Stillbirths,1,239,1,20,3394,0,1,1,0,3237,...,0,0,0,1,0,0,0,0,0,1
CME_SBR: Stillbirth rate,1,239,1,20,4740,0,1,1,0,4700,...,0,3,0,1,0,0,0,0,0,1
DM_BRTS: Number of births,1,252,1,73,16210,1,1,0,0,0,...,0,0,1,1,1,0,0,0,0,1
HVA_PED_EID_CVG: Per cent of infants born to pregnant women living with HIV who received a virological test for HIV within 2 months of birth,1,95,1,10,503,1,1,1,1,480,...,0,0,1,1,1,0,0,0,1,1
HVA_PED_EID_NUM: Reported number of infants born to pregnant women living with HIV who received a virological test for HIV within 2 months of birth,1,95,1,10,287,1,1,1,1,0,...,0,0,1,1,1,0,0,0,1,1
IM_BCG: Percentage of live births who received bacille Calmette-Guerin (vaccine against tuberculosis),1,195,1,42,100,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,1
IM_HEPBB: Percentage of live births who received hepatitis-B-containing vaccine within 24 hours of birth,1,133,1,22,100,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,1
IM_PAB: Percentage of newborns protected at birth against tetanus with tetanus toxoid,1,122,1,42,100,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,1
"MNCH_ABR: Adolescent birth rate (number of live births to adolescent women per 1,000 adolescent women)",1,232,1,22,187,1,1,2,1,0,...,0,2,0,299,1,0,1,0,1,1
MNCH_BIRTH18: Early childbearing - percentage of women (aged 20-24 years) who gave birth before age 18,1,150,1,22,265,1,1,2,1,0,...,0,0,0,109,3,0,1,0,79,1
MNCH_LIFE_EXPECTANCY: Life expectancy at birth - number of years newborn female children would live if subject to the mortality risks prevailing for the cross section of population at the time of their birth (estimated),1,245,1,1,166,1,1,1,1,0,...,0,0,0,2,1,0,0,0,1,1
"MNCH_MMR: Maternal mortality ratio (number of maternal deaths per 100,000 live births)",1,206,1,18,779,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,1
MNCH_PNCMOM: Postnatal care for mothers - percentage of women (aged 15-49 years) who received postnatal care within 2 days of giving birth,1,141,1,13,203,1,1,2,1,0,...,0,2,0,78,2,0,1,0,43,1
MNCH_SAB: Skilled birth attendant - percentage of deliveries attended by skilled health personnel,1,243,1,22,482,1,1,2,1,0,...,0,165,0,1185,1,0,1,0,54,1
NT_BW_LBW: Prevalence of low birth weight among new-borns,1,147,1,16,232,1,1,1,1,2352,...,0,2,1,1,1,1,0,0,1,1
NT_BW_LBW_MOD: Number (in thousands) of live births that weighed less than 2500 g (Modeled Estimates),1,214,1,16,270,1,1,1,1,177,...,0,7,1,2,1,1,1,0,1,1
NT_BW_LBW_MOD_NUMTH: Number (in thousands) of live births that weighed less than 2500 g (Modeled Estimates),1,214,1,16,1758,1,1,1,1,833,...,0,7,1,2,1,1,1,0,1,1
NT_BW_UNW: Percentage of births without a birth weight in the data source,1,178,1,15,125,1,1,3,1,0,...,0,0,1,178,1,1,1,0,0,1
PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered,1,189,3,15,237,0,1,3,1,0,...,0,51,0,79,0,0,1,0,26,1

In [ ]:
CB_Ind[CB_Ind.index.str.contains("PT_CHLD_Y0T4_REG")]

*PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered* is the value within `INDICATOR:Indicator` column we are interested in.

In [125]:
PT_CHLD_Y0T4_REG = CB_percent[CB_percent['INDICATOR:Indicator']=="PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered"]
PT_CHLD_Y0T4_REG

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
6499,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,F: Female,2015,41.9,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2015,NaN,NaN,EOF: End of fieldwork,NaN,2015,Y0T4: Under 5 years old
6500,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,M: Male,2015,42.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2015,NaN,NaN,EOF: End of fieldwork,NaN,2015,Y0T4: Under 5 years old
6501,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2015,42.3,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2015,NaN,NaN,EOF: End of fieldwork,NaN,2015,Y0T4: Under 5 years old
14765,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,F: Female,2018,98,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2017-18,NaN,NaN,EOF: End of fieldwork,NaN,2017-18,Y0T4: Under 5 years old
14766,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,M: Male,2018,98.9,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2017-18,NaN,NaN,EOF: End of fieldwork,NaN,2017-18,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1635966,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,M: Male,2018,14.1,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2018,NaN,NaN,EOF: End of fieldwork,NaN,2018,Y0T4: Under 5 years old
1635967,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2018,NaN,NaN,EOF: End of fieldwork,NaN,2018,Y0T4: Under 5 years old
1644676,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,F: Female,2019,48.9,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2019,NaN,NaN,EOF: End of fieldwork,NaN,2019,Y0T4: Under 5 years old
1644677,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,M: Male,2019,48.4,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2019,NaN,NaN,EOF: End of fieldwork,NaN,2019,Y0T4: Under 5 years old
1644678,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2019,NaN,NaN,EOF: End of fieldwork,NaN,2019,Y0T4: Under 5 years old

Reducing the data set to select only *_T: Total* values for `SEX:Sex` column as well as discarding *E: Estimated value* and *RA: Reanalysed* values from `OBS_STATUS:Observation Status`

In [126]:
PT_CHLD_Y0T4_REG = PT_CHLD_Y0T4_REG[PT_CHLD_Y0T4_REG['SEX:Sex']=="_T: Total"]
PT_CHLD_Y0T4_REG

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
6501,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2015,42.3,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2015,NaN,NaN,EOF: End of fieldwork,NaN,2015,Y0T4: Under 5 years old
14767,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,98.4,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2017-18,NaN,NaN,EOF: End of fieldwork,NaN,2017-18,Y0T4: Under 5 years old
22717,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,99.6,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2018-19,NaN,NaN,EOF: End of fieldwork,NaN,2018-19,Y0T4: Under 5 years old
38911,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AGO: Angola,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2016,25,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2015-16,NaN,NaN,EOF: End of fieldwork,NaN,2015-16,Y0T4: Under 5 years old
54353,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ARG: Argentina,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,99.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,The sample was national and urban,NaN,MICS 2019-20,NaN,NaN,EOF: End of fieldwork,NaN,2019-20,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1603241,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,UNICEF_WE: Western Europe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,100,NaN,PCNT: %,E: Estimated value,F: Free,...,NaN,Based on 32 countries with a population covera...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,NaN,EOF: End of fieldwork,NaN,2012-21,Y0T4: Under 5 years old
1609664,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,WORLD: World,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2021,75.6,NaN,PCNT: %,E: Estimated value,F: Free,...,NaN,Based on 166 countries with a population cover...,NaN,"DHS, MICS, other national surveys, censuses an...",NaN,NaN,EOF: End of fieldwork,NaN,2012-21,Y0T4: Under 5 years old
1627567,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,YEM: Yemen,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,30.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2013,NaN,NaN,EOF: End of fieldwork,NaN,2013,Y0T4: Under 5 years old
1635967,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2018,NaN,NaN,EOF: End of fieldwork,NaN,2018,Y0T4: Under 5 years old
1644678,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2019,NaN,NaN,EOF: End of fieldwork,NaN,2019,Y0T4: Under 5 years old

In [131]:
PT_CHLD_Y0T4_REG = PT_CHLD_Y0T4_REG[PT_CHLD_Y0T4_REG['OBS_STATUS:Observation Status'] == 'RP: Reported']
PT_CHLD_Y0T4_REG

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
6501,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2015,42.3,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2015,NaN,NaN,EOF: End of fieldwork,NaN,2015,Y0T4: Under 5 years old
14767,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,98.4,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2017-18,NaN,NaN,EOF: End of fieldwork,NaN,2017-18,Y0T4: Under 5 years old
22717,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,99.6,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2018-19,NaN,NaN,EOF: End of fieldwork,NaN,2018-19,Y0T4: Under 5 years old
38911,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AGO: Angola,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2016,25,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2015-16,NaN,NaN,EOF: End of fieldwork,NaN,2015-16,Y0T4: Under 5 years old
54353,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ARG: Argentina,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,99.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,The sample was national and urban,NaN,MICS 2019-20,NaN,NaN,EOF: End of fieldwork,NaN,2019-20,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562760,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,VUT: Vanuatu,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,43.4,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,Data refer only to children with a birth certi...,NaN,DHS 2013,NaN,NaN,EOF: End of fieldwork,NaN,2013,Y0T4: Under 5 years old
1577122,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,VNM: Viet Nam,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2014,96.1,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2014,NaN,NaN,EOF: End of fieldwork,NaN,2014,Y0T4: Under 5 years old
1627567,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,YEM: Yemen,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,30.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2013,NaN,NaN,EOF: End of fieldwork,NaN,2013,Y0T4: Under 5 years old
1635967,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,DHS 2018,NaN,NaN,EOF: End of fieldwork,NaN,2018,Y0T4: Under 5 years old
1644678,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.7,NaN,PCNT: %,RP: Reported,F: Free,...,NaN,NaN,NaN,MICS 2019,NaN,NaN,EOF: End of fieldwork,NaN,2019,Y0T4: Under 5 years old

In [132]:
PT_CHLD_Y0T4_REG.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 6501 to 1644678
Data columns (total 22 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   DATAFLOW                                                                        120 non-null    object
 1   REF_AREA:Geographic area                                                        120 non-null    object
 2   INDICATOR:Indicator                                                             120 non-null    object
 3   SEX:Sex                                                                         120 non-null    object
 4   TIME_PERIOD:Time period                                                         120 non-null    object
 5   OBS_VALUE:Observation Value                                                     120 non-null    object
 6   UNIT_MULTIPLIER:Unit multiplier                                                 0 non-null      object
 7   UNIT_MEASURE:Unit of measure                                                    120 non-null    object
 8   OBS_STATUS:Observation Status                                                   120 non-null    object
 9   OBS_CONF:Observation confidentaility                                            120 non-null    object
 10  LOWER_BOUND:Lower Bound                                                         0 non-null      object
 11  UPPER_BOUND:Upper Bound                                                         0 non-null      object
 12  WGTD_SAMPL_SIZE:Weighted Sample Size                                            0 non-null      float64
 13  OBS_FOOTNOTE:Observation footnote                                               19 non-null     object
 14  SERIES_FOOTNOTE:Series footnote                                                 0 non-null      object
 15  DATA_SOURCE:Data Source                                                         120 non-null    object
 16  SOURCE_LINK:Citation of or link to the data source                              0 non-null      object
 17  CUSTODIAN:Custodian                                                             0 non-null      object
 18  TIME_PERIOD_METHOD:Time period activity related to when the data are collected  120 non-null    object
 19  REF_PERIOD:Reference Period                                                     0 non-null      object
 20  COVERAGE_TIME:The period of time for which data are provided                    120 non-null    object
 21  AGE:Current age                                                                 120 non-null    object
dtypes: float64(1), object(21)
memory usage: 21.6+ KB

In [133]:
PT_CHLD_Y0T4_REG.isnull().sum()

DATAFLOW                                                                            0
REF_AREA:Geographic area                                                            0
INDICATOR:Indicator                                                                 0
SEX:Sex                                                                             0
TIME_PERIOD:Time period                                                             0
OBS_VALUE:Observation Value                                                         0
UNIT_MULTIPLIER:Unit multiplier                                                   120
UNIT_MEASURE:Unit of measure                                                        0
OBS_STATUS:Observation Status                                                       0
OBS_CONF:Observation confidentaility                                                0
LOWER_BOUND:Lower Bound                                                           120
UPPER_BOUND:Upper Bound                                                           120
WGTD_SAMPL_SIZE:Weighted Sample Size                                              120
OBS_FOOTNOTE:Observation footnote                                                 101
SERIES_FOOTNOTE:Series footnote                                                   120
DATA_SOURCE:Data Source                                                             0
SOURCE_LINK:Citation of or link to the data source                                120
CUSTODIAN:Custodian                                                               120
TIME_PERIOD_METHOD:Time period activity related to when the data are collected      0
REF_PERIOD:Reference Period                                                       120
COVERAGE_TIME:The period of time for which data are provided                        0
AGE:Current age                                                                     0
dtype: int64

In [147]:
PT_CHLD_Y0T4_REG = PT_CHLD_Y0T4_REG.dropna(axis=1, how='all')
PT_CHLD_Y0T4_REG

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,DATA_SOURCE:Data Source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
6501,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2015,42.3,PCNT: %,RP: Reported,F: Free,NaN,DHS 2015,EOF: End of fieldwork,2015,Y0T4: Under 5 years old
14767,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ALB: Albania,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,98.4,PCNT: %,RP: Reported,F: Free,NaN,DHS 2017-18,EOF: End of fieldwork,2017-18,Y0T4: Under 5 years old
22717,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,DZA: Algeria,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,99.6,PCNT: %,RP: Reported,F: Free,NaN,MICS 2018-19,EOF: End of fieldwork,2018-19,Y0T4: Under 5 years old
38911,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AGO: Angola,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2016,25,PCNT: %,RP: Reported,F: Free,NaN,DHS 2015-16,EOF: End of fieldwork,2015-16,Y0T4: Under 5 years old
54353,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ARG: Argentina,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2020,99.7,PCNT: %,RP: Reported,F: Free,The sample was national and urban,MICS 2019-20,EOF: End of fieldwork,2019-20,Y0T4: Under 5 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562760,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,VUT: Vanuatu,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,43.4,PCNT: %,RP: Reported,F: Free,Data refer only to children with a birth certi...,DHS 2013,EOF: End of fieldwork,2013,Y0T4: Under 5 years old
1577122,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,VNM: Viet Nam,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2014,96.1,PCNT: %,RP: Reported,F: Free,NaN,MICS 2014,EOF: End of fieldwork,2014,Y0T4: Under 5 years old
1627567,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,YEM: Yemen,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2013,30.7,PCNT: %,RP: Reported,F: Free,NaN,DHS 2013,EOF: End of fieldwork,2013,Y0T4: Under 5 years old
1635967,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZMB: Zambia,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2018,14,PCNT: %,RP: Reported,F: Free,NaN,DHS 2018,EOF: End of fieldwork,2018,Y0T4: Under 5 years old
1644678,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,ZWE: Zimbabwe,PT_CHLD_Y0T4_REG: Percentage of children under...,_T: Total,2019,48.7,PCNT: %,RP: Reported,F: Free,NaN,MICS 2019,EOF: End of fieldwork,2019,Y0T4: Under 5 years old

In [148]:
PT_CHLD_Y0T4_REG.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 6501 to 1644678
Data columns (total 14 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   DATAFLOW                                                                        120 non-null    object
 1   REF_AREA:Geographic area                                                        120 non-null    object
 2   INDICATOR:Indicator                                                             120 non-null    object
 3   SEX:Sex                                                                         120 non-null    object
 4   TIME_PERIOD:Time period                                                         120 non-null    object
 5   OBS_VALUE:Observation Value                                                     120 non-null    object
 6   UNIT_MEASURE:Unit of measure                                                    120 non-null    object
 7   OBS_STATUS:Observation Status                                                   120 non-null    object
 8   OBS_CONF:Observation confidentaility                                            120 non-null    object
 9   OBS_FOOTNOTE:Observation footnote                                               19 non-null     object
 10  DATA_SOURCE:Data Source                                                         120 non-null    object
 11  TIME_PERIOD_METHOD:Time period activity related to when the data are collected  120 non-null    object
 12  COVERAGE_TIME:The period of time for which data are provided                    120 non-null    object
 13  AGE:Current age                                                                 120 non-null    object
dtypes: object(14)
memory usage: 14.1+ KB

Let's looks closer into values of remaining columns after filtering out columns with null values for registered births.

In [149]:
PT_CHLD_Y0T4_REG.groupby('UNIT_MEASURE:Unit of measure').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,DATA_SOURCE:Data Source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
UNIT_MEASURE:Unit of measure,,,,,,,,,,,,,
PCNT: %,1,120,1,1,15,92,1,1,14,60,1,24,1

In [150]:
PT_CHLD_Y0T4_REG.groupby('OBS_FOOTNOTE:Observation footnote').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,DATA_SOURCE:Data Source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
OBS_FOOTNOTE:Observation footnote,,,,,,,,,,,,,
Data refer only to children with a birth certificate,1,6,1,1,6,6,1,1,1,6,1,6,1
Data refers only to children registered in the family book,1,1,1,1,1,1,1,1,1,1,1,1,1
Data refers only to children with a Namibian and non-Namibian birth certificate,1,1,1,1,1,1,1,1,1,1,1,1,1
Data refers only to children with a birth certificate within a calendar year,1,1,1,1,1,1,1,1,1,1,1,1,1
Data refers only to children with an Iranian parent who has a national ID card,1,1,1,1,1,1,1,1,1,1,1,1,1
Data refers to children under 5 registered with National Registry of Persons (RENAP),1,1,1,1,1,1,1,1,1,1,1,1,1
Data refers to children whose births are registered in Mexico or another country.,1,1,1,1,1,1,1,1,1,1,1,1,1
"Data refers to declaration of birth registration, being recorded in family book or registration with Civil Registry office.",1,1,1,1,1,1,1,1,1,1,1,1,1
Data refers to live births that occurred in the five years preceding the survey that were registered,1,1,1,1,1,1,1,1,1,1,1,1,1
"In the Kidal region, only urban areas were sampled.",1,1,1,1,1,1,1,1,1,1,1,1,1
Jammu and Kashmir or Gilgit Baltistan regions are not included.,1,1,1,1,1,1,1,1,1,1,1,1,1
Only asks if children were registered with population registry (does not ask about possession of birth certificate).,1,1,1,1,1,1,1,1,1,1,1,1,1
Residents of Lebanon Subsample only,1,1,1,1,1,1,1,1,1,1,1,1,1
The sample was national and urban,1,1,1,1,1,1,1,1,1,1,1,1,1

In [151]:
PT_CHLD_Y0T4_REG.groupby('TIME_PERIOD_METHOD:Time period activity related to when the data are collected').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,DATA_SOURCE:Data Source,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
TIME_PERIOD_METHOD:Time period activity related to when the data are collected,,,,,,,,,,,,,
EOF: End of fieldwork,1,120,1,1,15,92,1,1,1,14,60,24,1

In [152]:
PT_CHLD_Y0T4_REG.groupby('COVERAGE_TIME:The period of time for which data are provided').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,DATA_SOURCE:Data Source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,AGE:Current age
COVERAGE_TIME:The period of time for which data are provided,,,,,,,,,,,,,
2006,1,2,1,1,1,2,1,1,1,0,2,1,1
2006-07,1,1,1,1,1,1,1,1,1,0,1,1,1
2009,1,1,1,1,1,1,1,1,1,0,1,1,1
2010,1,5,1,1,1,5,1,1,1,1,5,1,1
2011,1,2,1,1,1,2,1,1,1,0,2,1,1
2012,1,7,1,1,1,7,1,1,1,0,2,1,1
2013,1,5,1,1,1,5,1,1,1,1,3,1,1
2013-14,1,1,1,1,1,1,1,1,1,1,1,1,1
2014,1,7,1,1,1,7,1,1,1,0,2,1,1
2014-15,1,2,1,1,1,2,1,1,1,1,2,1,1
2014-18,1,1,1,1,1,1,1,1,1,1,1,1,1
2015,1,6,1,1,1,6,1,1,1,1,3,1,1
2015-16,1,6,1,1,1,6,1,1,1,1,3,1,1
2016,1,5,1,1,1,5,1,1,1,1,3,1,1
2016-17,1,3,1,1,1,3,1,1,1,0,1,1,1
2016-18,1,1,1,1,1,1,1,1,1,0,1,1,1
2017,1,8,1,1,1,8,1,1,1,2,6,1,1
2017-18,1,6,1,1,1,6,1,1,1,1,2,1,1
2018,1,15,1,1,1,15,1,1,1,5,5,1,1
2018-19,1,5,1,1,1,5,1,1,1,0,1,1,1
2019,1,16,1,1,1,14,1,1,1,0,5,1,1
2019-20,1,9,1,1,1,8,1,1,1,1,2,1,1
2020,1,4,1,1,1,4,1,1,1,1,4,1,1
2021,1,2,1,1,1,2,1,1,1,1,2,1,1

In [153]:
PT_CHLD_Y0T4_REG.groupby('AGE:Current age').nunique()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,OBS_FOOTNOTE:Observation footnote,DATA_SOURCE:Data Source,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,COVERAGE_TIME:The period of time for which data are provided
AGE:Current age,,,,,,,,,,,,,
Y0T4: Under 5 years old,1,120,1,1,15,92,1,1,1,14,60,1,24

`UNIT_MEASURE:Unit of measure`, `TIME_PERIOD_METHOD:Time period activity related to when the data are collected` and `AGE:Current age` can be dropped from PT_CHLD_Y0T4_REG as it has only one value.
`OBS_CONF:Observation confidentaility` similar can be said for this column. As per earlier analysis we can drop this column as well as it's not of interest for our case.

In [154]:
PT_CHLD_Y0T4_REG_reduced = PT_CHLD_Y0T4_REG[["REF_AREA:Geographic area","TIME_PERIOD:Time period","OBS_VALUE:Observation Value","OBS_FOOTNOTE:Observation footnote","COVERAGE_TIME:The period of time for which data are provided"]]
PT_CHLD_Y0T4_REG_reduced

,REF_AREA:Geographic area,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,OBS_FOOTNOTE:Observation footnote,COVERAGE_TIME:The period of time for which data are provided
6501,AFG: Afghanistan,2015,42.3,NaN,2015
14767,ALB: Albania,2018,98.4,NaN,2017-18
22717,DZA: Algeria,2019,99.6,NaN,2018-19
38911,AGO: Angola,2016,25,NaN,2015-16
54353,ARG: Argentina,2020,99.7,The sample was national and urban,2019-20
...,...,...,...,...,...
1562760,VUT: Vanuatu,2013,43.4,Data refer only to children with a birth certi...,2013
1577122,VNM: Viet Nam,2014,96.1,NaN,2014
1627567,YEM: Yemen,2013,30.7,NaN,2013
1635967,ZMB: Zambia,2018,14,NaN,2018
1644678,ZWE: Zimbabwe,2019,48.7,NaN,2019

In [155]:
PT_CHLD_Y0T4_REG_reduced_01 = PT_CHLD_Y0T4_REG_reduced.reset_index()
PT_CHLD_Y0T4_REG_reduced_01

,index,REF_AREA:Geographic area,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,OBS_FOOTNOTE:Observation footnote,COVERAGE_TIME:The period of time for which data are provided
0,6501,AFG: Afghanistan,2015,42.3,NaN,2015
1,14767,ALB: Albania,2018,98.4,NaN,2017-18
2,22717,DZA: Algeria,2019,99.6,NaN,2018-19
3,38911,AGO: Angola,2016,25,NaN,2015-16
4,54353,ARG: Argentina,2020,99.7,The sample was national and urban,2019-20
...,...,...,...,...,...,...
115,1562760,VUT: Vanuatu,2013,43.4,Data refer only to children with a birth certi...,2013
116,1577122,VNM: Viet Nam,2014,96.1,NaN,2014
117,1627567,YEM: Yemen,2013,30.7,NaN,2013
118,1635967,ZMB: Zambia,2018,14,NaN,2018
119,1644678,ZWE: Zimbabwe,2019,48.7,NaN,2019

In [156]:
PT_CHLD_Y0T4_REG_reduced_02 = PT_CHLD_Y0T4_REG_reduced_03[['REF_AREA:Geographic area','TIME_PERIOD:Time period','OBS_VALUE:Observation Value']]
PT_CHLD_Y0T4_REG_reduced_02

,REF_AREA:Geographic area,TIME_PERIOD:Time period,OBS_VALUE:Observation Value
0,AFG: Afghanistan,2015,42.3
1,ALB: Albania,2018,98.4
2,DZA: Algeria,2019,99.6
3,AGO: Angola,2016,25
4,ARG: Argentina,2020,99.7
...,...,...,...
115,VUT: Vanuatu,2013,43.4
116,VNM: Viet Nam,2014,96.1
117,YEM: Yemen,2013,30.7
118,ZMB: Zambia,2018,14
119,ZWE: Zimbabwe,2019,48.7

In [157]:
PT_CHLD_Y0T4_REG_reduced_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   REF_AREA:Geographic area     120 non-null    object
 1   TIME_PERIOD:Time period      120 non-null    object
 2   OBS_VALUE:Observation Value  120 non-null    object
dtypes: object(3)
memory usage: 2.9+ KB

In [158]:
PT_CHLD_Y0T4_REG_reduced_03 ['OBS_VALUE:Observation Value']= PT_CHLD_Y0T4_REG_reduced_02['OBS_VALUE:Observation Value'].astype(float)

In [159]:
PT_CHLD_Y0T4_REG_reduced_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   index                                                         120 non-null    int64
 1   REF_AREA:Geographic area                                      120 non-null    object
 2   TIME_PERIOD:Time period                                       120 non-null    object
 3   OBS_VALUE:Observation Value                                   120 non-null    float64
 4   OBS_FOOTNOTE:Observation footnote                             19 non-null     object
 5   COVERAGE_TIME:The period of time for which data are provided  120 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.8+ KB

In [164]:
PT_CHLD_Y0T4_REG_reduced_03.groupby(['REF_AREA:Geographic area','TIME_PERIOD:Time period']).mean().reset_index()

,REF_AREA:Geographic area,TIME_PERIOD:Time period,index,OBS_VALUE:Observation Value
0,AFG: Afghanistan,2015,6501,42.3
1,AGO: Angola,2016,38911,25.0
2,ALB: Albania,2018,14767,98.4
3,ARG: Argentina,2020,54353,99.7
4,ARM: Armenia,2016,61505,98.7
...,...,...,...,...
115,WSM: Samoa,2020,1248137,66.9
116,XKX: Kosovo,2020,750325,98.1
117,YEM: Yemen,2013,1627567,30.7
118,ZMB: Zambia,2018,1635967,14.0
119,ZWE: Zimbabwe,2019,1644678,48.7

Need to eliminate countries with the % of births that have low % (<80%) of registered births not to influence the findings negatively.

In [165]:
PT_CHLD_Y0T4_REG_reduced_04 = PT_CHLD_Y0T4_REG_reduced_03[PT_CHLD_Y0T4_REG_reduced_03['OBS_VALUE:Observation Value'] >= 80]
PT_CHLD_Y0T4_REG_reduced_04

,index,REF_AREA:Geographic area,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,OBS_FOOTNOTE:Observation footnote,COVERAGE_TIME:The period of time for which data are provided
1,14767,ALB: Albania,2018,98.4,NaN,2017-18
2,22717,DZA: Algeria,2019,99.6,NaN,2018-19
4,54353,ARG: Argentina,2020,99.7,The sample was national and urban,2019-20
5,61505,ARM: Armenia,2016,98.7,NaN,2015-16
6,86556,AZE: Azerbaijan,2006,93.6,NaN,2006
...,...,...,...,...,...,...
109,1490039,TUV: Tuvalu,2020,87.2,NaN,2019-20
110,1496910,TUR: Türkiye,2018,98.4,Only asks if children were registered with pop...,2018
112,1515393,UKR: Ukraine,2012,99.8,NaN,2012
114,1549993,URY: Uruguay,2013,99.8,NaN,2013
116,1577122,VNM: Viet Nam,2014,96.1,NaN,2014

In [168]:
PT_CHLD_Y0T4_REG_reduced_04.groupby('REF_AREA:Geographic area').nunique()

,index,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,OBS_FOOTNOTE:Observation footnote,COVERAGE_TIME:The period of time for which data are provided
REF_AREA:Geographic area,,,,,
ALB: Albania,1,1,1,0,1
ARG: Argentina,1,1,1,1,1
ARM: Armenia,1,1,1,0,1
AZE: Azerbaijan,1,1,1,0,1
BDI: Burundi,1,1,1,0,1
...,...,...,...,...,...
TUV: Tuvalu,1,1,1,0,1
UKR: Ukraine,1,1,1,0,1
URY: Uruguay,1,1,1,0,1
VNM: Viet Nam,1,1,1,0,1
XKX: Kosovo,1,1,1,0,1

In [169]:
List_of_Geos = PT_CHLD_Y0T4_REG_reduced_04['REF_AREA:Geographic area'].values.tolist()
List_of_Geos

['ALB: Albania',
 'DZA: Algeria',
 'ARG: Argentina',
 'ARM: Armenia',
 'AZE: Azerbaijan',
 'BHR: Bahrain',
 'BRB: Barbados',
 'BLZ: Belize',
 'BEN: Benin',
 'BTN: Bhutan',
 'BWA: Botswana',
 'BDI: Burundi',
 'CPV: Cabo Verde',
 'COM: Comoros',
 'COG: Congo',
 'CUB: Cuba',
 "PRK: Democratic People's Republic of Korea",
 'DOM: Dominican Republic',
 'EGY: Egypt',
 'SLV: El Salvador',
 'FJI: Fiji',
 'GAB: Gabon',
 'GEO: Georgia',
 'GTM: Guatemala',
 'GUY: Guyana',
 'HTI: Haiti',
 'HND: Honduras',
 'IRN: Iran (Islamic Republic of)',
 'IRQ: Iraq',
 'JAM: Jamaica',
 'JOR: Jordan',
 'KAZ: Kazakhstan',
 'KIR: Kiribati',
 'XKX: Kosovo',
 'KGZ: Kyrgyzstan',
 'LBN: Lebanon',
 'MDV: Maldives',
 'MLI: Mali',
 'MHL: Marshall Islands',
 'MEX: Mexico',
 'MNG: Mongolia',
 'MNE: Montenegro',
 'MAR: Morocco',
 'MMR: Myanmar',
 'NRU: Nauru',
 'MKD: North Macedonia',
 'PAN: Panama',
 'PER: Peru',
 'PHL: Philippines',
 'MDA: Republic of Moldova',
 'RWA: Rwanda',
 'LCA: Saint Lucia',
 'STP: Sao Tome and Principe',
 'SAU: Saudi Arabia',
 'SRB: Serbia',
 'SLE: Sierra Leone',
 'SGP: Singapore',
 'SVK: Slovakia',
 'SLB: Solomon Islands',
 'LKA: Sri Lanka',
 'PSE: State of Palestine',
 'SUR: Suriname',
 'TJK: Tajikistan',
 'THA: Thailand',
 'TGO: Togo',
 'TON: Tonga',
 'TTO: Trinidad and Tobago',
 'TUN: Tunisia',
 'TKM: Turkmenistan',
 'TCA: Turks and Caicos Islands',
 'TUV: Tuvalu',
 'TUR: Türkiye',
 'UKR: Ukraine',
 'URY: Uruguay',
 'VNM: Viet Nam']

In [176]:
List_of_Geos[0].find(":")

3

In [178]:
L0 = List_of_Geos[0]
L0

'ALB: Albania'

In [183]:
L0_s = L0[L0.find(':')+2:]
L0_s

'Albania'

In [ ]:
for index, Geo in enumerate(List_of_Geos:

There are 189 geographic areas with information on childbirth percentage. Let's analyse `REF_AREA:Geographic area` column a bit more.

In [ ]:
Geos = CB_percent.groupby('REF_AREA:Geographic area').nunique()
Geos

In [29]:
Geos[Geos.index.str.contains(":")].shape

(330, 21)

Geos areas contain three leter acronyms followed by a `:`. This naming convention may come in handy later on.

In [ ]:
CB_Ind.reset_index

In [ ]:
CB_Ind.index

In [ ]:
CB_Ind.columns

In [ ]:
CB_Ind.info

In [ ]:
CB_Ind.set_index("DATAFLOW")

In [ ]:
unique_indicator =  CB_Ind['index_column']

In [ ]:
unique_indicator

In [ ]:
df[df['ids'].str.contains("ball")]

In [ ]:
CB_percent_opt = CB_percent["REF_AREA:Geographic area","INDICATOR:Indicator","TIME_PERIOD:Time period","UNIT_MULTIPLIER:Unit multiplier",""]

In [ ]:
CB_percent.head(5)

#### Further analysis and filtering out non-needed column data

Currently, we are only interested in the % of childbirths registered, and can notice that for `AFG: Afganistan` there are values for Life expectancy in the data set. Also `DATAFLOW` column appear to offer not much value for us. Let's explore the values in those (and other) columns.

In [ ]:
CB_percent['DATAFLOW'].values

The value `UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators` seems to be repeating within the `DATAFLOW` column. Let's check if there are any other values contained.

In [ ]:
Examine = CB_percent[~CB_percent["DATAFLOW"].isin(["UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators"])]
Examine

No, the value `UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indicators` is the only one within the `DATAFLOW` column, hence we should drop it from the `Filtered_CB_percent` dataset we are planning to create later on.

In [ ]:
Examine = CB_percent[~CB_percent["SEX:Sex"].isin(["_T: Total"])]
Examine

The value `SEX:Sex` is the same as it contains only one value within (ie. `_T: Total`) we should drop it from the `Filtered_CB_percent` as well.

In [ ]:
Examine1 = CB_percent[~CB_percent["UNIT_MULTIPLIER:Unit multiplier"].isin(["0: Units"])]
Examine1

In [ ]:
Examine1 = Examine1[~Examine1["UNIT_MULTIPLIER:Unit multiplier"].isna()]
Examine1

Simiar is true for `UNIT_MULTIPLIER:Unit multiplier` with only one value of `0: Units` and 142 empty rows.

In [ ]:
Examine1 = CB_percent[~CB_percent["UNIT_MEASURE:Unit of measure"].isin(["YR: Years"])]
Examine1

In [ ]:
Examine2 = Examine1[~Examine1["UNIT_MEASURE:Unit of measure"].isin(["PCNT: %"])]
Examine2

For `UNIT_MEASURE:Unit of measure` need to check if for every value of `PCNT: %` each of the values in column `INDICATOR:Indicator` is equal to `PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered`

In [ ]:
Examine1 = CB_percent[~CB_percent["UNIT_MEASURE:Unit of measure"].isin(["YR: Years"])]
Examine2 = Examine1 [~Examine1 ["INDICATOR:Indicator"].isin(["PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered"])]
Examine2

As per above check since for each row where `UNIT_MEASURE:Unit of measure` is equal to `PCNT: %` at the same time values in column `INDICATOR:Indicator` are all equal to `PT_CHLD_Y0T4_REG: Percentage of children under age 5 whose births are registered` then column `UNIT_MEASURE:Unit of measure` can also be discarded.

In [ ]:
CB_percent["OBS_STATUS:Observation Status"].value_counts()

In [ ]:
Examine = CB_percent[~CB_percent["OBS_STATUS:Observation Status"].isna()]
Examine

In [ ]:
Examine2 = CB_percent[CB_percent["OBS_STATUS:Observation Status"].isna()]
Examine2["OBS_STATUS:Observation Status"].value_counts()

In [ ]:
Estimated_CB_percent = CB_percent[CB_percent["OBS_STATUS:Observation Status"].isin(["E: Estimated value"])]
Estimated_CB_percent

In [ ]:
Reported_CB_percent = CB_percent[CB_percent["OBS_STATUS:Observation Status"].isin(["RP: Reported"])]
Reported_CB_percent

In [ ]:
Rd_CB_percent_sorted = Reported_CB_percent.sort_values(["OBS_VALUE:Observation Value"])
Rd_CB_percent_sorted

#### 2.1.1.3 Filtering out important data columns

In [ ]:
Filtered_Reported_CB_percent = Rd_CB_percent_sorted[["REF_AREA:Geographic area","TIME_PERIOD:Time period","OBS_VALUE:Observation Value"]]
Filtered_Reported_CB_percent

In [ ]:
Filtered_Reported_CB_percent_lessthan50 = Filtered_Reported_CB_percent[Filtered_Reported_CB_percent["OBS_VALUE:Observation Value"]<50]
Filtered_Reported_CB_percent_lessthan50

In [ ]:
Filtered_Reported_CB_percent_morethan80 = Filtered_Reported_CB_percent[Filtered_Reported_CB_percent["OBS_VALUE:Observation Value"]>80]
Filtered_Reported_CB_percent_morethan80

From `Filtered_Reported_CB_percent_morethan80` we can read out that 75 countries have reported child births percentage in over `80%` cases

### Observation: 75 countries have reported child births percentage in over `80%` cases

---

---

## Age of mothers at childbirth

In [ ]:
## Importing a data file into a panda dataframe

In [ ]:
Age_mothers_raw = pd.read_csv('SF_2_3_Age_mothers_childbirth.csv')

### Let's explore this data set

Investigating a dataframe and cleaning data

In [ ]:
Age_mothers_raw.info()

From info() I've learned that there are 51 rows and 94 columns of data

In [ ]:
Age_mothers_raw.head(5)

Observations:
1. could first row be used for column index and first column as row index
2. looking at the first few rows I determined that there are some null values and the question was is if some of the rows/columns could be discarded

#### Setting first row as column index and first column as row index

In [ ]:
Age_mothers = Age_mothers_raw[:]
Age_mothers.columns=Age_mothers.iloc[0]
Age_mothers.head(3)

In [ ]:
Age_mothers_index = Age_mothers.set_index('Country')
Age_mothers_index.head(3)

In [ ]:
#Age_mothers.set_index('Country',inplace=True)

In [ ]:
Age_mothers_index.index.duplicated()

#### Checking for columns with Null values that can be discarded

In [ ]:
Age_mothers_index.isnull().sum()

In [ ]:
Age_mothers_index.dropna(axis=1,how='all').shape

In [ ]:
Age_mothers_index.dropna(axis=1,how='all',inplace=True)
Age_mothers_index

In [ ]:
Age_mothers_index.info()

In [ ]:
Age_mothers_index.dtypes[42]

---

---

# Visualisation